[2011-09-17 14:55] lincolnthree opened #3 "Create extensions for SASS and LESS"
Mapping of CSS URLs to runtime compiled SASS and LESS files in project.

[2011-10-01 05:39] lincolnthree opened #4 "(Global Parameters) Bindings to the EvaluationContext should apply immediately"
Path.matches("/{param}").and(QueryString.exists("{param}");

Param should be extracted upon its second use.

[2011-10-02 18:41] lincolnthree opened #5 "Enable Unified parameter transforms/constraints/bindings."
Configuring parameters should be a global event for the rule.

[code]

[2011-12-09 01:40] wuhaixing opened #12 "Support annonation in bean to specify rewrite"
I think something just like in rest @Path(from="/",to="/pages/home.xhtml"),and I can put this before a method related to home page render bean.So I don't need to maintain a Configuration class

[2011-12-10 09:44] #12 closed, assigned to nobody

[2012-02-10 19:38] lincolnthree opened #13 "Expose Forward/Include request parameters in RewriteEvent API"
During an include or forward, vital information gets stuffed into request parameters. It would be nice to be able to access this information from an injectable Java resource.

javax.servlet.forward.request_uri
javax.servlet.forward.context_path
javax.servlet.forward.servlet_path
javax.servlet.forward.path_info
javax.servlet.forward.query_string

javax.servlet.include.request_uri
javax.servlet.incl

[2012-03-23 13:43] lincolnthree opened #15 "Support ADF through rewrite extension"
http://ocpsoft.org/support/topic/query-parameters-showing-in-url-on-initial-page-access

[2012-04-09 16:21] fabmars opened #24 "WELD-001318 / WELD-001409 Ambiguous dependency"
Since commit 9e8bbb5dc52f180af4cd93f17d57022d81c13faa ("Expressions support no longer requires solder directly") a JSF app using both Rewrite and Solder (or anything that depends on it like Seam-Faces) will fail to deploy because Weld will see 2 ELContext producers.

org.ocpsoft.rewrite.cdi.expressions.ELContextProducer contains indeed:
@Produces ELContext createELContext() {
    return createELCo

[2012-04-10 17:53] #24 closed, assigned to nobody

[2012-04-14 01:33] lincolnthree opened #28 "Allow rule subsets/aggregation in ConfigurationBuilder"
[code]

[2012-04-14 18:22] chkal opened #30 "java.lang.IllegalStateException: Committed"
Hey Lincoln,

I'm opening a ticket for this because I think I know why this is happening. Actually it's a Rewrite bug. I'm trying to explain this in the following paragraphs.

First of all. This is the exception:

[code]

You can reproduce it by running the `ExpressionLanguageTest` in the JSF module. This test contains a simple configuration which simply forwards `/name/{param}` to `/faces/express

[2012-04-16 06:46] ghost opened #31 "Does it work with JBoss 4.X ?"
Does it work with JBoss 4.X ? i have added in META-INF/services/.... but i can't able to see any log which says its installed. Do we need to specify anything in web.xml?

[2012-04-16 18:55] lincolnthree opened #32 "PhaseBinding should not convert/validate until within the Faces lifecycle"
[code]

[2012-04-16 19:09] lincolnthree opened #33 "ClassVisitorImpl should be responsible for adding the Rule to the ConfigurationBuilder, not the AnnotationHandler"
[code]

[2012-04-16 21:10] #30 closed, assigned to nobody

[2012-04-16 21:10] #31 closed, assigned to nobody

[2012-04-16 21:28] #33 closed, assigned to nobody

[2012-04-17 02:08] #32 closed, assigned to nobody

[2012-05-09 13:51] balteo opened #48 "Stackoverflow error thrown by showcase's access control"
Hi all,
It seems a stackoverflow error is thrown by the access control app.
I have attached the full JBoss 7 logs here: http://ocpsoft.org/support/topic/stackoverflow-error-thrown-by-showcases-access-control#post-3242
Regards,
Julien Martin.

[2012-05-14 06:58] chkal opened #51 "Join should only apply if DispatchType.isRequest()"
See issue #48, especially comment:

https://github.com/ocpsoft/rewrite/issues/48#issuecomment-5676120

[2012-05-14 14:33] #48 closed, assigned to nobody

[2012-05-14 16:40] #51 closed, assigned to nobody

[2012-05-19 11:34] balteo opened #52 "Slight issue with the mega rewrite showcase app: final name in pom.xml"
Hi,

There is a slight issue with the mega-rewrite showcase app: it has the same "final name" as the composite query showcase app i.e.: `<finalName>composite-query</finalName>`

See: https://github.com/ocpsoft/rewrite/blob/master/showcase/mega-rewrite/pom.xml

Regards,

Julien.

[2012-05-19 12:45] balteo opened #53 "issue with index.html in composite query showcase app"
Hello,

`<meta http-equiv="refresh" content="0;url=./faces/index.xhtml" />` should be:
`<meta http-equiv="refresh" content="0;url=./index.xhtml" />`
in https://github.com/ocpsoft/rewrite/blob/master/showcase/composite-query/src/main/webapp/index.html

because faces servlet is defined as follows:
`<servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.xhtml</url-pat

[2012-05-19 13:39] #52 closed, assigned to nobody

[2012-05-19 13:46] balteo opened #54 "Issue with composite query showcase app"
Hello,
    http://localhost:8080/composite-query/?c=LTg1NDM0OTA1OSM/Zm9vPTEmYmFyPTImYmF6PTMmY2FiPTQ=
should render as:
    http://localhost:8080/composite-query/index.xhtml?c=LTg1NDM0OTA1OSM/Zm9vPTEmYmFyPTImYmF6PTMmY2FiPTQ=
in the composite query showcase app.
I am not sure how to fix this...
Regards,
Julien.

[2012-05-19 13:51] #53 closed, assigned to nobody

[2012-05-19 16:38] chkal opened #55 "Provide API for simple URL manipulation"
Especially for use cases like "switch to SSL for these URLs".

Corresponding forum post:

http://ocpsoft.org/support/topic/jsf-prettyfaces-force-login-page-to-redirect-to-https

[2012-05-26 16:33] lincolnthree opened #56 "Exception encountered when parsing empty query-string"
http://localhost:8080/socialpm-gwt/login?

`java.lang.StringIndexOutOfBoundsException: String index out of range: -1
    java.lang.String.substring(String.java:1937)
    java.lang.String.substring(String.java:1904)
    org.ocpsoft.rewrite.servlet.impl.HttpInboundRewriteImpl.getRequestQueryString(HttpInboundRewriteImpl.java:194)
    org.ocpsoft.rewrite.servlet.impl.HttpInboundRewriteImpl.getRequest

[2012-06-12 10:00] Draculea opened #57 "withInboundCorrection don't work with query parameters"
Hello,
i add this rule:
.addRule(Join.path("/u/{name}").to("/protected/index.jsp?u={name}").withInboundCorrection())
but when i entered url('protected/index.jsp?u=someone'),i hadn't see expected url('u/someone'),it seems that withInboundCorrection don't work with parameter?
~Richard

[2012-06-19 04:36] #57 closed, assigned to nobody

[2012-07-09 19:35] lincolnthree opened #58 "Cannot re-use parameters in ParameterizedPattern expressions"
`("{*}something{*}").where("*").matches(".*")` will fail to match the string "blah-something-blah" because only the first "*" parameter instance will be configured.

[2012-07-16 18:45] lincolnthree opened #59 "Rewrite Transform ResourceResolver API should accept EvaluationContext parameters"
[code]

Should probably look more like:

[code]

[2012-07-16 19:19] lincolnthree opened #60 "Combine @URLPattern and @ForwardTo into a single new annotation @Join"

[2012-07-16 19:19] lincolnthree opened #61 "Merge @ParameterBinding and @QueryParameterBinding"
Should just be @ParameterBinding

[2012-07-16 19:20] lincolnthree opened #62 "@URLAction and @ParameterBinding should both accept a supporting annotation for @BeforePhase and @AfterPhase"

[2012-07-16 19:20] lincolnthree opened #63 "Prototype graph priority API for sorting strongly typed sets of objects"

[2012-07-16 19:21] lincolnthree opened #64 "Add @ValidateRegExp annotation"
[code]

[2012-07-16 19:22] lincolnthree opened #65 "Add @ValidateWith(CustomValidator.class) and @ConvertWith(CustomConverter.class)"
[code]

[2012-07-16 19:23] lincolnthree opened #66 "Move common annotations from PrettyFaces into Rewrite module"
Need to figure out what this new module will be called (or if we will reuse an existing one.)

[2012-07-22 13:38] #59 closed, assigned to nobody

[2012-07-22 16:06] chkal opened #67 "Keep order of rules when building configuration"
It seems like the order of rules is not preserved in some cases. See corresponding forum post:

http://ocpsoft.org/support/topic/default-deny?replies=8#post-3782

[2012-07-23 17:50] #67 closed, assigned to nobody

[2012-07-25 21:17] #58 closed, assigned to nobody

[2012-07-25 21:18] #3 closed, assigned to nobody

[2012-07-26 14:54] chkal opened #68 "Less transformer fails to render Bootstrap styles"
[code]

It seems to be related to imports.

[2012-07-28 08:40] #60 closed, assigned to chkal

[2012-07-30 14:42] #62 closed, assigned to nobody

[2012-08-11 06:21] #64 closed, assigned to nobody

[2012-08-14 05:25] chkal opened #69 "Rename @URLAction to @Invoke or @RequestAction"
This should definitely be done. But we still have to keep in mind that the current implementation of this annotation highly depends on JSF.

[2012-08-14 05:27] chkal opened #70 "Rename @URLPattern to @PathPattern"
`@PathPattern` is much nicer. It contains "Path" (like the Rewrite condition is called) and there is no naming conflict with JAX-RS.

[2012-08-14 05:27] chkal opened #71 "Rename @ValidateRegExp to @Matches"
Sounds much nicer.

[2012-08-14 05:30] chkal opened #72 "Remove set/get for specific context objects from *Context classes"
As discussed in the meeting, we will simply use `Context.put()` and `Context.get()` using the type of the class as a key. This is much better than changing the *Context classes each time we need a new object in the context.

[2012-08-18 11:12] #69 closed, assigned to chkal

[2012-08-18 11:12] #70 closed, assigned to chkal

[2012-08-18 11:13] #71 closed, assigned to chkal

[2012-08-18 11:15] #72 closed, assigned to chkal

[2012-08-20 07:17] myfear opened #73 "FacesFileNotFoundException - Resource Not Found in ExternalContext as a Resource"
Hi,

rewrite looks awesome :) There is a tiny little thing I would love to see:
I am using the faces-integration and I defined a
   .addRule(Join.path("/{locale}/{page}.xhtml").to("/{page}.xhtml")

if I now define the   <welcome-file>de/index.xhtml</welcome-file> accordingly to that I get a
com.sun.faces.context.FacesFileNotFoundException: /de/index.xhtml Not Found in ExternalContext as a Resource

[2012-08-20 17:25] #73 closed, assigned to nobody

[2012-08-22 21:50] lincolnthree opened #74 "Duplicate services are registered when CDI ServiceLocator (or other impls) are Registered"
This is caused when multiple locators provide an instance of the same service.

[2012-09-03 05:30] #65 closed, assigned to nobody

[2012-09-03 05:41] #66 closed, assigned to nobody

[2012-09-21 04:58] beikov opened #75 "Create SimpleJoin and SimplePath"
I would like to see a SimpleJoin and SimplePath in rewrite to allow performance improvements. The implementation would only use `java.lang.String#equals` for the match checking.
The topic is discussed at the following forum post: http://ocpsoft.org/support/rewrite/performance-tuning

[2012-10-15 21:15] #63 closed, assigned to nobody

[2012-12-19 08:36] #74 closed, assigned to nobody

[2013-03-04 00:41] johnament opened #79 "Rewrite doesn't support rules where the target contains #"
I created the following rule:

return ConfigurationBuilder.begin().defineRule().when(Direction.isInbound().and(Path.matches("/qr/{qrId}")))
                .perform(Forward.to("/qms/index.html#view-qr{qrId}"));

When I attempt to use it, I get a 404 not found.  I am able to copy and paste the exact URL in to my browser and it works.

[2013-03-04 12:11] padcom opened #80 "Error in README.md"
There's an error in the README.md (Groovy on Grails).

http://burtbeckwith.com/blog/?p=1213

"Why? Because it doesn’t exist. The framework is called Grails. Just Grails."

[2013-03-05 16:34] #80 closed, assigned to nobody

[2013-03-05 17:07] #5 closed, assigned to nobody

[2013-03-05 17:07] #4 closed, assigned to nobody

[2013-03-07 14:44] chkal opened #81 "Reading parameter values from other conditions doesn't work"
I tried to write this rule with 2.0.0.Alpha4:

[code]

The rule will throw this error:

[code]

I'm not sure how to handle this. Is it something that should be supported?

[2013-03-07 14:51] chkal opened #82 "JSESSIONID breaks Joins"
I'm using this configuration with 2.0.0.Alpha4:

[code]

This URL works fine:

[code]

But this one results in a 404:

[code]

I think we should handle this somehow. Didn't we have some special handling for JSESSIONID in PrettyFaces too?

[2013-03-08 13:31] #82 closed, assigned to nobody

[2013-03-08 16:07] #79 closed, assigned to nobody

[2013-03-08 16:49] #54 closed, assigned to nobody

[2013-03-11 19:51] #81 closed, assigned to nobody

[2013-03-12 05:45] #61 closed, assigned to nobody

[2013-03-12 05:45] #56 closed, assigned to nobody

[2013-03-31 11:41] hwellmann opened #83 "OCPsoft Forums are down"
This may not be the best place to raise this issue, but I can't find any other contact address:

http://ocpsoft.org/support/ only shows a blank page, all forums are gone.

[2013-04-01 15:35] #83 closed, assigned to nobody

[2013-04-02 22:51] mojavelinux opened #84 "Switch to asciidoctor-java-integration library"
Alex Soto (@lordofthejars) has been working on an Asciidoctor Java integration library that will handle all the dirty work of getting the required gems and the bridge code to invoke Ruby. I encourage the project to adopt this library to keep things simple & maintainable.

https://github.com/lordofthejars/asciidoctor-java-integration

Note that this will be moved upstream to this location any time

[2013-04-08 09:32] chkal opened #85 "Random NPE when rendering SASS files"
Since updating to 2.0.0.Beta2 we are getting random exceptions when rendering SASS files. It happens only sometimes. Not sure why. I guess it has something to do with moving the ScriptingContainer to a field.

[code]

[2013-04-09 05:00] #28 closed, assigned to nobody

[2013-04-09 13:27] #85 closed, assigned to nobody

[2013-04-16 05:14] chkal opened #86 "Schemaless URLs don't work with CDN rule"
When I use this rule with an application deployed to the context path `/myapp`:

[code]

I'm getting:

[code]

It's the recommended way to use schemaless URLs to let the browser choose whether to use SSL or not when requesting the URL.

See:

https://developers.google.com/speed/libraries/devguide#jquery

[2013-04-16 12:34] lincolnthree opened #87 "Asciidoc renderer omits H1 tags"
Tags rendered with `= title =` are omitted because by default, asciidoc treats these elements as the document title, and does not render them on single page requests.

Need to pass the `!notitle` flag when calling render(input)

Or jason porter suggested passing header-footer:

`Asciidoctor.render('Asciidoc text goes here', :header_footer => true)`

[2013-04-24 15:27] lincolnthree opened #88 "Configuration of invalid parameters is no longer an error scenario, but should throw an Exception"
`org.ocpsoft.rewrite.param.DefaultParameterStore:46`

Else clause is activated when the parameter name is not valid... should not be set to default parameter... should throw exception.

[code]

[2013-04-30 14:53] chkal opened #89 "Wrong query parameters are injected when using annotations"
I just ran into this issue with 2.0.0.Final.

[code]

Everything is fine with this URL:

[code]

The `value` field contains `foobar`. But when I add another query parameter like this to the URL like this:

[code]

In this case the `value` field contains the value `123` instead of `foobar`.

[2013-05-01 06:54] #89 closed, assigned to nobody

[2013-05-01 22:19] #75 closed, assigned to nobody

[2013-05-01 22:22] beikov opened #90 "Performance optimizations"
We already discussed the things I would like to add here: http://ocpsoft.org/support/topic/performance-tuning/. This issue is just for tracking the branch.

[2013-05-06 17:31] lincolnthree opened #91 "Upgrade version of AsciiDoctor Gem for Rewrite Transform"
This can be upgraded to enhance render time and a few bug fixes

[2013-05-06 17:33] lincolnthree opened #92 "Create Operation to configure CORS"
http://en.wikipedia.org/wiki/Cross-origin_resource_sharing

Like: http://aerogear.org/docs/guides/aerogear-controller/cors.html

[2013-05-06 17:34] lincolnthree opened #93 "Create Rule to enable quick, simple HTTP caching in Servlet applications."
It is currently painful to implement proper, configurable caching in Servlet applications, but with Rewrite, we have a somewhat fortuitous opportunity to be able to reduce that complexity, while offering a fine level of granularity that would allow developers to control how certain resources, groups of resources, or entire applications are cached at the browser and DNS level.

Since Rewrite is alr

[2013-05-07 02:15] #88 closed, assigned to nobody

[2013-05-07 02:19] #91 closed, assigned to nobody

[2013-05-16 07:41] kvdev opened #94 "outbound links not rewritten for error-pages defined in web.xml"
Error page in web.xml:

[code]

If a page is not found the error page is rendered but the outbound links are not rewritten. When calling the error page directly the outbound links are rewritten correctly.

Forum thread: http://ocpsoft.org/support/topic/error-pages-in-web-xml-and-rewrite/

[2013-05-19 06:39] #94 closed, assigned to nobody

[2013-05-20 14:20] #86 closed, assigned to nobody

[2013-05-30 09:10] chkal opened #95 "IllegalArgumentException for <rewrite> rules without url attribute"
Version: Rewrite 2.0.1.Final

There seems to be a problem with the PrettyFaces config module. If the pretty-config.xml contains the following rule:

[code]

When requesting a page, the following error occurs:

[code]

[2013-05-30 09:24] chkal opened #96 "Rendering custom error pages fails with PrettyFaces"
This one is a bit complicated. The thread describing the issue is here:

http://ocpsoft.org/support/topic/empty-page-on-validatiorexception-instead-of-404-page/

My current understanding of the issue is the following. Imagine a mapping with a custom path parameter validator. If the validation of the parameter fails, PrettyFaces calls HttpServletResponse.sendError(404). If there is a custom error p

[2013-05-31 14:20] lincolnthree opened #97 "Document i18n support patterns"
This is a passable approach for implementing i18n capable URLs with Rewrite, and deserves to be added to the documentation.

http://ocpsoft.org/support/topic/yet-another-i18n-approach/

[2013-06-02 09:51] chkal opened #98 "Migration guide Rewrite 1.1.x to 2.0.x"
I think we need a short migration guide for users who want to update to Rewrite 2.0.x from 1.1.x. There is already a nice forum post regarding that.

http://ocpsoft.org/support/topic/thoughts-after-migrating-from-rewrite-v1-to-v2/

It should be easy to create a small section in the documentation for that.

[2013-06-02 09:53] chkal opened #99 "Migration guide PrettyFaces 3.x to Rewrite 2.0.x"
We should create a section in the documentation that explains how to migration from PrettyFaces 3.3.3 to Rewrite with the config-prettyfaces module.

I think this should be easy:
- Remove PrettyFaces dependency
- Add rewrite-servlet + rewrite-config-prettyfaces
- If PrettyFilter has been manually added to web.xml, replace with corresponding RewriteFilte entry

Anything else?

[2013-06-02 15:33] lincolnthree opened #100 "Document how to retrieve original Request URL after a Forward"
http://ocpsoft.org/support/topic/thoughts-after-migrating-from-rewrite-v1-to-v2/#post-23994

`request.getAttribute("javax.servlet.forward.request_uri")`

[2013-06-03 14:38] lincolnthree opened #101 "Create a SystemProperty.exists() condition"
`SystemProperty.exists("foo.bar")
SystemProperty.isTrue("foo.bar")`

[2013-06-03 19:39] #55 closed, assigned to nobody

[2013-06-04 13:48] #95 closed, assigned to nobody

[2013-06-08 10:58] chkal opened #103 "NPE in RewriteNavigationHandler if there is no UIViewRoot"
RewriteNavigationHandler currently requires a UIViewRoot to work correctly. In my case I was triying to navigate from an ExceptionHandler that processed a ViewExpiredException. I'll post the exact stacktrace later.

[2013-06-08 20:00] #96 closed, assigned to nobody

[2013-06-14 14:49] #103 closed, assigned to nobody

[2013-06-17 16:08] lincolnthree opened #104 "Document how to create custom annotations"
http://ocpsoft.org/support/topic/rewrite-annotations/#post-24204

[2013-06-17 16:17] lincolnthree opened #105 "Add the super-wildcard ** operator to implicitly specify .* match regex"
This would allow users to avoid `.where("**").matches(".*")`

[2013-06-17 20:12] lincolnthree opened #106 "Add the barcode demo to the Rewrite showcase"
http://ocpsoft.org/prettyfaces/serving-dynamic-file-content-with-prettyfaces/

[2013-06-18 15:26] lincolnthree opened #107 "Add a Request/Response exception logging framework to Rewrite"
To allow quick and easy logging of exceptions, combined with the appropriate request and response data.

[2013-06-19 14:04] 452 opened #108 "org.ocpsoft.rewrite.exception.RewriteException: No registered org.ocpsoft.rewrite.el.spi.ExpressionLanguageProvider could handle the Expression [#{languagesBean.language}]"
In Rewrite 2.0.2.Final when I trying to use

<pre><code>
.where("lang").bindsTo(El.property("languagesBean.language")).matches("ua|ru")
</code></pre>

I have this Exception:

<pre><code>
org.ocpsoft.rewrite.exception.RewriteException: No registered org.ocpsoft.rewrite.el.spi.ExpressionLanguageProvider could handle the Expression [#{languagesBean.language}]
</code></pre>

But ExpressionLanguageProv

[2013-06-20 15:12] #15 closed, assigned to nobody

[2013-06-21 14:09] lincolnthree opened #109 "Context root is appended twice when using Navigate.to() class"
http://ocpsoft.org/support/topic/issue-migrating-from-prettyfaces-3-3-3-to-rewrite-2-0-2/

[2013-06-21 14:10] lincolnthree opened #110 "View IDs with hard-coded query parameters were working in PF3.x, but no longer work in Rewrite"
http://ocpsoft.org/support/topic/issue-migrating-from-prettyfaces-3-3-3-to-rewrite-2-0-2/

[code]

[2013-06-21 14:57] lincolnthree opened #111 "Container based security is circumvented when Rewrite is installed"
http://ocpsoft.org/support/topic/prettyfaces-with-container-based-security/#post-24271

[2013-06-21 16:20] #111 closed, assigned to nobody

[2013-06-23 17:38] #108 closed, assigned to nobody

[2013-06-23 17:45] chkal opened #114 "Enforce PhaseBinding is configured correctly"
As discussed in #108 users can currently create incomplete PhaseBinding instances if they forget to call `after()` or `before()`.

We should either:
- fail with an meaningful exception if such an incomplete PhaseBinding is used. or
- use the step builder pattern to enforce fully configured instances like we do it already in other cases.

[2013-06-23 18:41] 452 opened #115 "Recursive redirect"
this code work:

[code]

this code create recursive redirect:

[code]

and how more easy I can create mapping? in some page like:
/catalog
/catalog/
with xml config and or in .java config

[2013-06-24 16:31] lincolnthree opened #116 "Validate the Join and URL-mapping IDs are not duplicated"
A common problem is users creating duplicate mapping and join IDs. this tends to lead to un...predictable behavior.

http://stackoverflow.com/questions/17276752/urlaction-is-not-called

[2013-07-03 20:08] fabmars opened #117 "Tripping on external urls without path"
Now one can write an external link like [a href="http://ocpsoft.org"]OCP[/a] in a facelet whereas it had to be written via a h:outputLink before JSF2. Well, I have several “useless” outputLink’s because my code is old and got migrated from JSF 1.2.

I noticed that when I have such an external link [h:outputLink value="http://www.someexternalsite.com"], Rewrite gives me a NPE.

The issue happens in

[2013-07-04 08:47] #115 closed, assigned to nobody

[2013-07-06 18:32] #117 closed, assigned to nobody

[2013-07-15 17:13] #109 closed, assigned to nobody

[2013-07-15 17:14] lincolnthree opened #119 "Review potential problem areas with context path appending/stripping"
See issues #109 for reference.

[2013-07-15 17:31] #110 closed, assigned to nobody

[2013-07-16 06:04] #99 closed, assigned to nobody

[2013-08-10 13:24] lincolnthree opened #121 "Add support for onPostback=false to PhaseOperation and related APIs"
Forum post: http://ocpsoft.org/support/topic/how-to-create-onpostbackfalse-at-httpconfigurationprovider/#post-24526

[2013-08-12 09:45] chkal opened #122 "Bookstore showcase app only works on AS7"
We should modify the bookstore sample application so that it doesn't need a database any more. People are running into issues when trying to deploy the app on other containers because the app currently uses some JBoss/Hibernate specific stuff.

See:

http://ocpsoft.org/support/topic/bookstore-sample-app-invalid-resource/

[2013-08-12 13:59] #122 closed, assigned to chkal

[2013-08-14 04:30] lincolnthree opened #123 "Rewrite should have a @RewriteConfiguration annotation for simpler configuration provider registration"
To prevent the need to use the configuration registry file. This would make installation much simpler, and is super easy to implement using annotations.

[2013-08-16 05:15] chkal opened #125 "Add support for class inheritance to the annotation SPI"
It has been reported that the annotation scanning doesn't handle class inheritance correctly. I thought we support this. We should have a deeper look.

See:

http://ocpsoft.org/support/topic/java-lang-illegalstateexception-phasebinding-does-not-support-retrieval/

[2013-08-18 07:07] chkal opened #126 "Outbound rewriting with multiple matching rules"
It seems like outbound rewriting isn't working in such cases:

[code]

It has been reported, that outbound rewriting doesn't happen at all for this case. Which surprises me, as I would have expected that simply the first rule matches.

I'm not completely sure how to handle this. IMHO there are cases for which we cannot decide which rule should match. Example:

[code]

Forum post:

http://ocpsoft.o

[2013-08-18 07:53] chkal opened #127 "Detect whether bindings/operations have to be deferred"
We could try to auto-detect whether bindings and operations have to be deferred. This could simplify annotation-based configuration for JSF users.

See:

http://ocpsoft.org/support/topic/java-lang-illegalstateexception-phasebinding-does-not-support-retrieval/page/2/#post-24625
http://ocpsoft.org/support/topic/java-lang-illegalstateexception-phasebinding-does-not-support-retrieval/page/2/#post-2467

[2013-09-16 02:42] lincolnthree opened #128 "NullPointerException in ResponseContentInterceptor when no output written to ServletResponse"

[2013-09-16 02:42] #128 closed, assigned to nobody

[2013-09-16 17:48] #123 closed, assigned to nobody

[2013-09-16 18:11] #105 closed, assigned to nobody

[2013-09-18 14:51] 452 opened #129 "Add information about Rewrite version to log output - Rewrite starting"
Please add information about Rewrite version to log output when Rewrite is starting

17:37:09,199 INFO  [org.ocpsoft.rewrite.faces.RewritePhaseListener] RewritePhaseListener starting up.

17:37:12,487 INFO  [org.ocpsoft.rewrite.servlet.RewriteFilter] RewriteFilter starting up...

17:37:13,613 INFO  [org.ocpsoft.rewrite.servlet.RewriteFilter] RewriteFilter initialized.

---

17:37:09,199 INFO  [org

[2013-09-23 12:06] chkal opened #130 "JavaScript breaks when used as href target with h:outputLink"
Using a component like this:

[code]

Will result in this HTML being rendered:

[code]

Happens with Rewrite 2.0.7.Final

See:

http://ocpsoft.org/support/topic/rewrite-prevent-primefaces-dialog-from-showing-up/

[2013-09-27 10:34] chkal opened #131 "Allow to change the JRuby compile mode"
I'm currently running into some weird JVM segmentation fault issues when using the JRuby JIT compiler mode. Turning off the JIT compiler fixes the problem.

I think it would be useful to expose this method to the users so that they can configure the JRuby runtime for their requirements:

https://github.com/ocpsoft/rewrite/blob/e7c4ab784aea50a71663026f170aa7b2d49977c4/transform-markup/src/main/java

[2013-09-27 15:31] #129 closed, assigned to nobody

[2013-09-27 15:36] #131 closed, assigned to nobody

[2013-09-29 22:42] lincolnthree opened #132 "{*} should bind to a single value, and {**} should implement non-binding wildcards"
The `{*}` parameter is misleading, it should bind a single value that must match all occurrences. `{**}` should be a true wildcard that does not support binding to a value.

This would allow `{*}` to be used in cases such as:

[code]

[2013-09-30 05:48] lincolnthree opened #133 "ConfigurationBuilder does not properly wrap RuleBuilder, Parameter, and ParameterStore objects"
These objects are being re-created with non-configured instances after first build.

[2013-09-30 05:49] #133 closed, assigned to nobody

[2013-10-01 19:22] lincolnthree opened #134 "Duplicate rules added when @RewriteConfiguration is used in conjunction with integration-cdi / intragration-spring / normal service loading"

[2013-10-02 05:51] chkal opened #135 "Annotation scanning creates a rule even if there is "only" a @Parameter"
For a class like this:

[code]

Rewrite creates a rule like this:

[code]

This is getting a problem as I'm working on supporting inheritance as requested in #125 because super classes will typically look like this.

[2013-10-02 10:23] #135 closed, assigned to chkal

[2013-10-02 18:02] #125 closed, assigned to chkal

[2013-10-03 17:47] chkal opened #136 "Request parameter map is always empty for multipart requests"
It seems like JSF postbacks don't work in multipart forms:

[code]

This is especially problematic because this `enctype` is required for JSF 2.2 `<h:inputFile>`.

Forum reference:

http://ocpsoft.org/support/topic/problem-with-hinputfile/

I did some debugging and it seems that in case of multipart requests `HttpRewriteWrappedRequest.getParameterMap()` is always empty. Because of this JSF isn't a

[2013-10-04 05:42] #136 closed, assigned to chkal

[2013-10-04 05:43] #100 closed, assigned to nobody

[2013-10-05 15:26] chkal opened #137 "Rewrite CDI integration doesn't work with OpenWebBeans"
I tried to get the TomEE integration test profile up and running but I ran into some issue with the `rewrite-integration-cdi` module.

What I got so far is:

It looks like the `CdiServiceLocator` doesn't find the `ConfigurationProvider` implementation packaged with the test WAR for the integration tests.

For some reason this always returns an empty list:

[code]

It works for other interfaces, bu

[2013-10-06 06:28] #137 closed, assigned to chkal

[2013-10-15 11:32] jsflive opened #139 "AddressBuilder creates empty string for "#""
When AddressBuilder.create(String url) is called with "#" as URL, the an empty string is returned.

In one of my clients projects this is used in a JSF application for several links like this:

<h:outputLink value="#" onclick="doSomething()"/>

With Rewrite enabled, the link navigates to the start page of the application as the value of the rendered href attribute is "" instead of "#".

Maybe it w

[2013-10-17 16:42] chkal opened #141 "Discuss how to handle exceptions in ExpressionLanguageProviders"
We should rethink how exceptions are handled that are thrown from ExpressionLanguageProviders.

See my idea here:

http://ocpsoft.org/support/topic/security-related-isuue/#post-25189

[2013-10-22 15:51] fabmars opened #142 "NPE in RewriteNavigationHandler at Before RestoreView time."
Environment: Glassfish 3.1.2.2 patched with JSF 2.1.26 and JDK 1.7.0_45.
This is somehow related to issue 103.

It's currently impossible to perform navigation at Before RestoreView time. Only from After RestoreView because RewriteNavigationHandler requires a valid ViewRoot before navigation. It throws a NPE during #handleNavigation, line 53 (String originalViewId = context.getViewRoot().getViewId

[2013-10-26 13:24] chkal opened #144 "ErrorPageTest completely fails in Wildfly"
For some reason `ErrorPageTest` completely fails in Wildfly. It seems like there is some kind of endless `HttpServletResponse.sendError()` recursion which seems to kill the server.

I disabled the test with Wildfly for now. But we should have a deeper look.

From the logs:

[code]

[2013-10-26 16:41] chkal opened #145 "GZipResponseStreamWrapper fails on Wildfly"
It looks like `WrappedResponseStreamTest` fails because there is some issue with the content length. When running the test, the following exception occurs on the client:

[code]

On the server the following exception occurs:

[code]

Not sure what is going wrong here. But I'll ignore the test for now on Wildfly to get the overall test suite green. But we should have a deeper look at this issue.

[2013-10-31 12:41] #139 closed, assigned to nobody

[2013-11-13 06:52] chkal opened #147 "Rewritten URLs don't contain jsessionid any more if cookies are disabled"
It seems like embedding the session id in the URL doesn't work at all for rewritten URLs. I'll create a test case.

[2013-11-14 13:53] lincolnthree opened #149 "Need an aggregate @Joins annotation"
Forums reference:

http://ocpsoft.org/support/topic/paramter-and-null-values/#post-25391

[2013-11-23 14:38] #147 closed, assigned to nobody

[2013-11-26 16:22] chkal opened #151 "Rewrite tries to forward even if response has already been committed"
http://ocpsoft.org/support/topic/rewrite-and-picketlink-illegalstateexception/

It looks like PicketLink redirects the request before the RewriteFilter receives it. If a Join matches the request path, Rewrite will try to perform the forward the committed response which fails with something like this:

[code]

[2013-11-27 07:40] chkal opened #152 "Add FAQ entry for URL patterns in security constraints"
See:

http://ocpsoft.org/support/topic/npe-in-rewritephaselistener-handlephaseoperation/#post-25442

[2013-11-28 16:23] #142 closed, assigned to nobody

[2013-12-03 19:11] #151 closed, assigned to nobody

[2013-12-10 16:27] lincolnthree opened #153 "Need a method of proxying HTTP requests via rewrite configuration"

[2013-12-10 16:28] #153 closed, assigned to nobody

[2013-12-22 12:17] chkal opened #154 "CommittedResponseTest fails on Wildfly 8.0.0.CR1"
I'm updating our test suite to Wildfly 8.0.0.CR1 right now and for some reason CommittedResponseTest fails now. It was working fine with Beta1. I'm ignoring it for now.

[2013-12-27 18:49] chkal opened #155 "Concurrency issue with JSF integration module"
The JSF integration module fails under heavy load with random exceptions.

See:

http://ocpsoft.org/support/topic/npe-in-rewritephaselistener-handlephaseoperation/

This seems to be caused by `PhaseOperation` keeping references to the `RewriteEvent`.

[2013-12-30 08:39] chkal opened #156 "Concurrency issue with CdiExpressionLanguageProvider"
With multiple concurrent requests, I'm getting exceptions like this:

[code]

My guess is that this is caused by sharing a single `ELContext` between requests. `CdiExpressionLanguageProvider` seems to use a single `ELContext` instance which causes problems if multiple EL expressions are evaluated concurrently.

[2013-12-31 14:22] #156 closed, assigned to chkal

[2013-12-31 15:23] #155 closed, assigned to nobody

[2013-12-31 15:35] lincolnthree opened #157 "Update Markdown, Asciidoc, and Textile versions to latest"
Asciidoc and Markdown have had new minor releases that resolve several formatting issues. We should update to include these.

[2013-12-31 15:40] #157 closed, assigned to nobody

[2014-01-01 17:02] cybuch opened #158 "Trailing slashes"
I'd gladly see something like:

[code]

so both /web/home and /web/home/ will work and users will be able to avoid double joins like:

[code]

http://ocpsoft.org/support/topic/how-to-append-trailing-slash/

[2014-01-15 07:20] chkal opened #159 "Add list of configuration parameters to the documentation"
See:

http://ocpsoft.org/support/topic/huge-performance-drop-even-with-empty-config

[2014-01-15 16:20] #130 closed, assigned to chkal

[2014-01-21 00:29] lincolnthree opened #160 "Error when building parameterized patterns using the same parameter twice"
`JBWEB000070: exception

javax.servlet.ServletException: Error during Rewrite processing. Please inspect stack trace for root cause.
    org.ocpsoft.rewrite.servlet.RewriteFilter.doFilter(RewriteFilter.java:194)
JBWEB000071: root cause

org.ocpsoft.rewrite.exception.ParameterizationException: Must supply [2] values to build output string.
    org.ocpsoft.rewrite.param.RegexParameterizedPatternBuil

[2014-01-21 01:11] #160 closed, assigned to nobody

[2014-01-24 09:02] tgiachi opened #161 "Cannot call sendRedirect() after the response has been committed"
Hello!,
I've this situation:
Tomcat 7.0.47
rewrite 2.0.10.Final

My rewrite configuration:

[code]

I've a **HttpServet** for proxy to my repository named _RepositoryWrapServlet_ who listen on _/repository/_

When i perform **doGet()** and i try to send 404 i've this error

[code]

Why?

Thank you!

[2014-01-24 12:40] #161 closed, assigned to nobody

[2014-02-06 15:11] cgendreau opened #162 "How to implement Locale support?"
Attempts to provide Locale support to handle URL in different languages.
e.g.
URL provided in French `/fr/rechercher/produit/12` would map to resource `/search/product/12` based on a properties file.

Initial attempt is to create a LocaleBinding class which could be used like:

[code]

One issue of this solution is that `Join` will now have 2 `Binding` that would send back different values for the

[2014-02-14 02:16] #162 closed, assigned to nobody

[2014-02-14 02:16] #97 closed, assigned to nobody

[2014-03-10 19:40] cgendreau opened #165 "HttpRewriteWrappedResponse.encodeURL question"
Hi,
I have this error:

[code]

`HttpRewriteWrappedResponse.encodeURL` should not take care of the encoding of the 'space' in my URL fragment?
But even if I provide a correctly encoded URL fragment, it will be encoded again which will result in `/test/a%2520b`.

Any idea?

[2014-03-17 10:28] chkal opened #166 "RewriteViewHandler.getActionURL() returns wrong URL"
Imagine the following scenario:
- The user is on `page1.xhtml` and clicks a button
- The corresponding action method returns the view id of `page2.xhtml` (without something like faces-redirect=true)
- JSF starts to render `page2.html` in RENDER_RESPONSE

The postback URLs of forms in the resulting page will point to `page1.xhtml` instead of `page2.xhtml` which is IMHO not correct.

The reason for

[2014-03-17 22:42] wjpbiblio opened #167 "context.addPostOperation seems to behave as context.addPreOperation"
I am quite new to rewrite - and I am trying to make some code which creates custom rewrite rules, based on the content of our database.

To this end my code does something like this.

[code]

While debugging that code I came across this code, in class EvaluationContextImpl()

[code]

It looks like a typo - and it seems to stop my code working. Is it ?

Thanks in advance.

[2014-03-18 05:37] #167 closed, assigned to nobody

[2014-03-18 18:01] edpichler opened #168 "Don't need pretty-config.xml file anymore?"
I'm trying to upgrade to Rewrite framework, now do I need to implement the classes that will do the redirect? I don't need to use pretty-config.xml anymore like the old Pretty-faces?

[2014-03-18 18:14] #168 closed, assigned to nobody

[2014-03-19 16:35] #166 closed, assigned to nobody

[2014-03-21 13:48] edpichler opened #169 "Not working in Amazon AWS"
I have a project working very well in my local environment, but in Amazon Beanstalk AWS, with same Tomcat version 7 when I visit the mapped URL just a 404 error appeared. I checked the Tomcat Logs and nothing is showing.

Anyone with the same problem?

[2014-03-21 14:08] #169 closed, assigned to nobody

[2014-03-25 11:41] chkal opened #170 "SpringBeanNameResolver fails for beans using scoped proxies"
This is basically the same issue as described here:

https://code.google.com/p/prettyfaces/issues/detail?id=119

[2014-03-25 12:34] #170 closed, assigned to chkal

[2014-05-16 14:34] belgoros opened #172 "f:param value="#{post.id}" does not pass the value to the bean"
I tried to pass a value from the view defined as follows:

[code]

to the managed bean defined as follows:

[code]

and I got the following error when editing the existing Post (posts/1/edit):

[code]

But if I create a new Post before, then navigate to edit POst page, it works, title field is filled with the correct Post value.

What is wrong here ?
Thank you.

[2014-05-19 09:46] #172 closed, assigned to nobody

[2014-05-19 17:46] torgre opened #173 "JSESSIONID with plus sign breaks Join"
The regex pattern:

[code]

found in Class:

[code]

breaks on JBoss 7.1.3.Final when a plus-sign is present in the JSESSIONID using JBoss-Web.

See this example:

[code]

Including the plus-sign into the pattern solves it:

[code]

[2014-05-20 16:09] #173 closed, assigned to nobody

[2014-05-29 18:24] edpichler opened #174 "Bug or limitation? (I did not found related documentation)"
If I have  `<archiveClasses>true</archiveClasses>` the rewrite doesn't works. The error is that classes folder can't be found.

Is this a limitation? Rewrite check classes every request?
Is this way due to a performance reasons? If yes, I think should be documented (if it's not yet)

I don't know if this is documented, but I haven't found searching in Google using few words. If it's already docume

[2014-05-30 12:08] edpichler opened #175 "Question about configuration best practices"
I used PrettyFaces till now.
Last week started with Rewrite.

I have a simple question.
Is it this the right way to use it if I want to read the "myparam" value inside my Servlet?

[code]

[2014-05-30 13:07] #174 closed, assigned to nobody

[2014-05-30 13:28] #175 closed, assigned to nobody

[2014-06-30 21:21] #165 closed, assigned to nobody

[2014-06-30 21:22] lincolnthree opened #177 "Support Rule metadata"
Such as where the Rule is located, and additional categories/tags type information.

[2014-07-13 14:33] fzoli opened #178 "GZip Stream Compression does not work with JSF pages"
Hello.

I tried out GZip stream compression.
If the request is a regular page it works well,
but if I use Java Servlet Faces I get an empty page.

The source code is the same like in the showcase except one line.
## GZipConfigurationProvider.java

[code]
## A simple JSF page (index.xhtml)

[code]

Checked versions:
- 2.0.12.Final
- 3.0.0.Alpha2

[2014-07-23 11:22] OndraZizka opened #179 "Rename one of 2 perform()s?"
There are 2 perform() methods: One for the rule, one for operation.
With the anonymous inner operations, this gets confusing:

[code]

Too many perform()'s, IMO.
Name can be anything, e.g. execute(), do(), wouldYouMind(), ...

[2014-07-23 15:29] #179 closed, assigned to nobody

[2014-07-29 13:28] chkal opened #180 "Path fails to remove the root context path correctly."
It looks like we often use this code to remote the context path from an URL:

[code]

This works fine if the context path is something like `/myapp`

[code]

But it fails for the root context path:

[code]

This breaks most of the rules.

[2014-07-31 05:54] #180 closed, assigned to nobody

[2014-08-14 16:32] DhyanB opened #181 "Problem with regular expression in matches() constraint"
**Update:** See second post for solution.

I'm using Rewrite 2.0.12. Tomcat gives me a 404 error for the following rule:

`.addRule(Join.path("/page/{x}/{y}/").to("/foo/page.html")).where("x").matches(pattern).where("y").matches(pattern)`

However, this one works fine:

`.addRule(Join.path("/page/{x}/").to("/foo/page.html")).where("x").matches(pattern)`

Lincoln asked me to test with no matches()

[2014-08-25 21:47] beikov opened #182 "JSF resources outbound URL rewriting"
The URLs of JSF resources that are rendered via h:outputStylesheet and h:outputScript do not get outbound rewritten.

[2014-08-28 17:44] FagnerMartinsBrack opened #184 "Documentation for testing"
Hi, I want to unit test my ConfiguratorProviders without inspecting the application behavior. Let's say I create a complex rule with a complex `constrainedBy` condition, what I want to do is provide a mock for the `constrainedBy` condition and check whether my rules are working properly. It helps to avoid regression without the need to check the application behavior every time I make a change.

Is

[2014-09-02 11:05] lathil opened #185 "Evaluation of conditions 'And' and 'Or'"
I am trying using Rewrite in a JSF 2 application. My rule look like this:

[code]

Problem is, all the conditions are evaluated even if the first is false. In the case of an inbound, it's no probleme, but in the case of an outbound, the server port might be null as JSF might be filling resources url ( relatives ) in it page.

Wouldn't be better to have a break in the evaluate method of And and Or

[2014-09-10 21:36] OndraZizka opened #186 "Support for rule id - .addRule("myRule") or .addRule().id("myRule")"
Will help debugging, reporting, rules development, categorization, discussions.

[2014-09-11 07:19] #186 closed, assigned to nobody

[2014-11-14 13:10] OndraZizka opened #187 "Condition.wrap()"
This is too long for expressiong simple if( ... ) then:

[code]

Could be:

[code]

Which would return new Condition returning the passed boolean value.

[2014-11-19 18:24] OndraZizka opened #188 "Rename Context to SimpleMap or such"
The interface Context doesn't really look like a context; it is a bit misleading when seeing it in API. I'd suggest to rename to SimpleMap, or such. A true context, as the term is used in various APIs, is highly domain-specific and contains type-safe methods dealing with context of the actual domain. In Rewrite, it is rather used as catch-all place for anything that does not fit the generic API of

[2014-11-25 12:39] llins opened #189 "Missing documentation"
The docs site is all broken...

[2014-11-25 23:37] #188 closed, assigned to nobody

[2014-11-27 08:55] DonatasC opened #190 "DefaultActionUrlProvider breaks JSF error pages containing forms"
org.ocpsoft.rewrite.faces.DefaultActionUrlProvider returns incorrect form action URLs in the case error page was rendered.

To reproduce:
1. Create error page (error.jsf) containing h:form (and optionally submit button)
2. Register the error page in web.xml:
[code]
or just (to be the default error page):
[code]
3. No special rewrite rules are needed - the bug can be reproduced just by including:
r

[2014-11-27 14:23] llins opened #191 "Security must send 403 instead 404"
I did some overrride to send 403 for a security issue instead 404.

If you think is good...

[code]

[code]

[code]

[2014-12-05 14:10] torgre opened #192 "Huge performance impact when using many @Parameter resulting in large nested conditions"
Create a class with a simple `@Join(path = "/mypage", to = "/mypage.jsf")` on class level. Then use n `@Parameter` annotations.

[code]

The performance for a simple AJAX post request on this page degrades drastically. Debugging Rewrite, I found the Condition in the method `org.ocpsoft.rewrite.config.RuleBuilder.evaluate(Rewrite, EvaluationContext)` to have the following `toString()` output.

[cod

[2014-12-11 18:06] #187 closed, assigned to nobody

[2014-12-11 18:07] #189 closed, assigned to nobody

[2014-12-11 18:09] #182 closed, assigned to nobody

[2014-12-12 08:56] ceefour opened #194 "Use SLF4J as underlying logging API"
This is related to #2 but rather than inventing Rewrite's own logging API, better reuse SLF4J API as it is and then users can use any logging backend (logback, log4j, JUL, etc.).

Currently rewrite's logging leaves much be desired: (which makes it somewhat impractical to configure logging levels)

    unknown.jul.logger | Rewrite 2.0.12.Final initialized.

At minimum, the logger name should be the

[2014-12-16 15:50] dparasam opened #195 "Problem with curly braces while migrating from PrettyFaces 3.3.4 to Rewrite 2.0"
I am trying to migrate from PrettyFaces 3.3.4 to Rewrite 2.0 using the Rewrite PrettyFaces compatibility module.

For the most part it works, except for URLs with curly braces.

The annotation was something like this:
@com.ocpsoft.pretty.faces.annotation.URLMapping(
id = “some-page”,
pattern = “/myUrl/#{backingBean.param}”,
viewId = “/myUrl.xhtml”)

With PrettyFaces 3.3.4, a URL with curly braces

[2015-01-03 09:24] chkal commented on #192
I just pushed some changes that may fix this. Not sure if the snapshots are deployed automatically. There were some issues with this in the past.

But you could simply clone the current master and run:

    mvn -DskipTests clean install

Then you can run your tests again against `3.0.0-SNAPSHOT`.

[2015-01-06 10:45] ceefour opened #197 "java.net.URISyntaxException: Illegal character in path at index 80: http://0.0.0.0//shop/product-details/31/228/Gamis+Mix+Combined+V-Embroidery.html</iframe>"
rewrite 2.0.12.Final

I got the following error in Tomcat7's `localhost.log` which seems to be hacking attempt (?) but rewrite throws exception. It should log the error (perhaps `INFO`, since the client can give all kinds of invalid URIs) but not cause the server to fail.

[code]

[2015-01-07 07:26] chkal commented on #192
I just fixed the snapshot deployment issues we had. So the latest snapshots are now available in the Sonatype OSS snapshots repository.

See this for details:

https://github.com/ocpsoft/rewrite/wiki/Snapshots

[2015-01-08 20:17] lincolnthree commented on #192
Awesome! Thank you, Christian!

On Wed, Jan 7, 2015 at 2:26 AM, Christian Kaltepoth <
notifications@github.com> wrote:

--
Lincoln Baxter, III
http://ocpsoft.org
"Simpler is better."

[2015-01-09 08:13] chkal commented on #192
Would be interesting to know if my fix solves this issue....

[2015-01-09 08:14] chkal commented on #197
Thanks for reporting this. Yeah, I think we should rework the URL decoding. I'll work on this in the next weeks...

[2015-01-09 09:31] #192 closed, assigned to nobody

[2015-01-13 16:26] dparasam commented on #195
Any chance you have an ETA for the fix?
Thanks!

[2015-01-14 20:28] lincolnthree commented on #195
So I've taken a look at this, and at Christian's work, and, there are two problems at hand. First... the problem where AddressBuilder was improperly treating them as a parameter, which Christian may have now resolved (still needs a little work to keep from having security problems.

Second, { and } are not valid characters for use in a URL. They must be encoded as: %7B and %7D. This makes me think

[2015-01-14 20:31] lincolnthree commented on #195
So I've taken a look at this, and at Christian's work, and, there are two problems at hand. First... the problem where AddressBuilder was improperly treating them as a parameter, which Christian may have now resolved (still needs a little work to keep from having security problems.

Second, { and } are not valid characters for use in a URL. They must be encoded as: %7B and %7D. This makes me think

[2015-01-14 20:41] lincolnthree commented on #195
On inspection of Christian's test, however, I see that the URL is actually encoded at the time it is sent, so there is another problem... hm.

[2015-01-15 15:25] elcodedocle opened #198 "404 error handling breaks when Rewrite is enabled"
This could be related to #100

My web.xml:

	<error-page>
		<error-code>404</error-code>
		<location>/404.xhtml</location>
	</error-page>

On my bean, I send a 404 if the requested content is not in the database:

    FacesContext facesContext = FacesContext.getCurrentInstance();
    facesContext.getExternalContext().responseSendError(404, "Not found.");
    facesContext.responseComplete();

After

[2015-01-15 15:58] elcodedocle commented on #198
(forget about it, it was a misconfiguration error, not even related to rewrite)

[2015-01-15 15:58] #198 closed

[2015-01-16 00:55] lincolnthree commented on #198
Thanks for updating your issue! Glad you figured out the problem :)

On Thu, Jan 15, 2015 at 10:58 AM, Gael Abadin <notifications@github.com>
wrote:

--
Lincoln Baxter, III
http://ocpsoft.org
"Simpler is better."

[2015-01-19 09:13] chkal commented on #197
I think this should be fixed now. Basically I implemented the percent-decoding myself in a very fault-tolerant way. This way Rewrite won't fail any more if the client requests not well-formed URLs.

@lincolnthree Any thoughts? Should I merge this to master? All tests are green. ;)

[2015-01-20 07:18] chkal commented on #195
Hey @lincolnthree. Thanks for having a look at this. I agree that my fix for the first problem isn't complete and/or perfect. This branch is more like a POC to see how easy it is to fix this.

There seem to be further problems in URLBuilder in regard to curly brace processing. But that class is actually deprecated. So perhaps we should try to get rid of it.

However, as there seem to be multiple p

[2015-01-21 14:29] cpuy opened #199 "org.ocpsoft.rewrite.config.Filesystem fail on windows"
Hi,

when using Filesystem.fileExists(file) on windows, this fails with message `java.lang.IllegalArgumentException: Character at starting position is escaped, and cannot be used in capturing a group.`

Please note that it also fail when using org.ocpsoft.rewrite.servlet.config.Stream and mainly everywhere that use `new RegexParameterizedPatternParser(resource.getAbsolutePath());` cause getAbsolut

[2015-01-22 05:40] chkal commented on #199
You could please post the full stacktrace? I've no Windows box available to test this myself.

[2015-01-22 05:44] chkal commented on #199
By the way, I think you can work around that problem by using `/` instead. AFAIK this will also work with `File`:

    File tmpDir = new File("c:/tmp");

[2015-01-22 07:10] cpuy commented on #199
Please see stacktrace below.

Of course `File tmpDir = new File("c:/tmp");` works but as I said above, `tmpDir.getAbsolutePath()` will always returns path with `\` on windows.

So there are no workaround.

[2015-01-22 07:10] cpuy commented on #199
java.lang.IllegalArgumentException: Character at starting position is escaped, and cannot be used in capturing a group.
	at org.ocpsoft.rewrite.util.ParseTools.balancedCapture(ParseTools.java:51)
	at org.ocpsoft.rewrite.param.RegexParameterizedPatternParser.<init>(RegexParameterizedPatternParser.java:106)
	at org.ocpsoft.rewrite.param.RegexParameterizedPatternParser.<init>(RegexParameterizedPatter

[2015-01-22 08:37] chkal commented on #199
Ah, OK, got it.

@lincolnthree One question. Is the `pattern` constructor argument here supposed to be a regular expression?

https://github.com/ocpsoft/rewrite/blob/fd2cbe7b8ad071882d5daf58b49954289ab48e83/api/src/main/java/org/ocpsoft/rewrite/param/RegexParameterizedPatternParser.java#L63

I think actually not. It is expected to be something like `/foobar/{param}/test.txt` where `.` actually mea

[2015-01-22 15:23] lincolnthree commented on #199
Ah, interesting. We don't see much use on Windows, so I guess this hasn't come up before :)

The pattern here is not a regular expression, it is a ParameterizedPattern (a type of our own invention), and that means it uses '\' as an escape character. I'm looking in to the issue.

[2015-01-23 00:19] #199 closed

[2015-01-23 00:21] lincolnthree commented on #199
Hi. I've resolved this issue (and fixed another issue with proper escape handling in parameterized patterns in general. I'm uploading snapshots to the sonatype nexus repository. You can add this repository to your POM and pull down the latest snapshots.

3.0.0-SNAPSHOT

[code]

[2015-02-13 12:56] edvin opened #200 "Unable to create a rule if directory with the same name exists"
I want to make `/controlpanel/login/login.xhtm`l available at `/controlpanel/login`, so I've added the following rule:

`Join.path("/controlpanel/login").to("/controlpanel/login/login.xhtml")`

This doesn't work, seemingly because the directory `/controlpanel/login` exists. The rule works if I change the Join.path to `/controlpanel/login/x`, though. RFE: Rules should take precedence over directori

[2015-02-13 13:11] chkal commented on #200
This is not an Rewrite issue. This is a requirement of the Servlet spec. If there is a directory `/foobar` in the WAR archive and a request for `/foobar` is received, the request must be redirected to `/foobar/`.

Have a look at section 10.10 of the Servlet 3.1 spec.

I also had such problems in the past. AFAIK there is nothing you can do about it. :(

[2015-02-13 13:29] edvin commented on #200
Thanks for the quick reply and the reference @chkal :)

[2015-02-13 13:29] #200 closed

[2015-02-17 17:15] nordstrand opened #201 "Possible concurrency issue"
Upon examining the attached stack trace it is not immediately clear whetever execution of [this section of the code](https://github.com/ocpsoft/rewrite/blob/master/integration-faces/src/main/java/org/ocpsoft/rewrite/faces/FacesRewriteLifecycleListener.java#L58) is protected from concurrent execution.

[code]

(rewrite-servlet 2.0.12)

[2015-02-18 05:29] chkal commented on #201
Thanks a lot for reporting this. Yes, it looks like there should be some locking when initializing the provider list. Would you perhaps like to help fixing this by providing a pull request?

[2015-02-24 14:58] beikov commented on #182
I just saw this issue again and it got me thinking. Why not do this magic translation @chkal mentioned in the Join class? When the path contains a question mark it would just translate to the rule described above. Less confusion for people but still a nice feature making it more pleasent to use :)

[2015-02-24 16:44] chkal commented on #182
What do you mean with "magic translation"? ;)

[2015-02-27 14:25] mcenkar commented on #197
Any plans of releasing rewrite with this fixed? It's affecting us in production and i would rather upgrade to version with bug fixed than create workarounds if possible.

[2015-02-28 09:52] chkal commented on #197
@mcenkar Did you give this branch a try? It would be helpful if you could verify that my patch fixes the problem.

[2015-03-02 08:46] mcenkar commented on #197
@chkal I had a quick look and it seems to be OK. At least it can handle few cases which it couldn't before :)

[2015-03-02 16:16] chkal commented on #197
Thanks @mcenkar.

Unfortunately I currently don't find much time for working on Rewrite. There are still some issue we should address before releasing 4.0.0.Final. But perhaps we can push out another Alpha soon.

[2015-03-03 21:38] lincolnthree commented on #190
I think that is probably a good solution.

[2015-03-04 07:02] chkal commented on #190
I think this should go directly into DefaultActionUrlProvider.

Unfortunately it isn't straight forward to obtain the dispatch type. HttpServletRequest.getDispatchType() was introduced in Servlet 3.0 and we currently still support Servlet 2.5. We have an SPI called DispatcherTypeProvider with an implementation for Servlet 2.5 that basically uses some hacks to determine the dispatch type. However,

[2015-03-04 12:07] michelepra opened #203 "org.ocpsoft.rewrite.servlet.util.URLBuilder - private String decodeSegment(final String segment)"
http://www.w3schools.com/tags/ref_urlencode.asp

String prepared = ("http://localhost/" + segment).replaceAll("\\+", "%20");

the '+' must be replaced with "%2B"

please fix soon this bug.

Thanks

[2015-03-04 16:22] #203 closed

[2015-03-04 16:23] chkal commented on #203
Thanks. Good catch. Not sure why this was added to the code. The class is deprecated anyway and we should get rid of it. ;)

[2015-03-04 17:45] michelepra commented on #203
Yes but it's currently used in last final release 2.0.12
Let me be crazy this morning to solve this problem.
The only workaround is to clone Join rule that use a clone version of Path condition that don't use URLBuilder internally, horrible but it work :)

Thank you for this fast solution

[2015-03-08 00:11] lincolnthree commented on #190
I think we can identify the error scenario in servlet 2.5 using the following check:

[code]

[2015-03-08 00:12] lincolnthree commented on #190
I think I have a solution for this, but I'm not really sure how to write a test case. I'm going to check in the solution then maybe we can come up with a test for it :p I know that's backwards, but I don't have much time right now.

[2015-03-08 00:13] lincolnthree commented on #190
Tests are passing, just need a new test for this feature.

[2015-03-08 11:34] chkal commented on #190
@lincolnthree: Yeah, this should work to detect the error dispatch type in Servlet 2.5... Great idea! :)

[2015-03-16 14:26] lincolnthree commented on #197
Yeah, I think this should be merged in. It looks good.

[2015-03-18 10:59] chkal commented on #197
Great. I just rebased and merged to master.

[2015-03-18 10:59] #197 closed

[2015-03-27 16:15] dabloem opened #205 "Unsupported FacesConverterProvider#getByConverterType"
implement getByConverterType in order to use a FacesConverter with the 'with' attribute of @Convert

[2015-03-27 18:22] chkal commented on #205
As far as I know JSF doesn't provide such an API. I think that was the reason why getByConverterType isn't implemented.

[2015-03-27 19:13] dabloem commented on #205
could you take a look at my proposal https://gist.github.com/dabloem/a408c4623efd6d8b7223 ?

[2015-03-27 20:09] dabloem commented on #205
I think this issue can be closed. I see now within the tests, there is already a test for getByType, which uses the targetType. (I am just wondering why it didn't work the first time I used @Convert)

[2015-03-27 20:09] #205 closed

[2015-03-27 20:12] chkal commented on #205
Okay. Feel free to reopen the issue if it doesn't work as expected.

[2015-04-08 11:07] MartinAhrer opened #206 "org.ocpsoft.rewrite.servlet.config.Resource.java is not resolving resources properly in a Spring-boot application"
I have a working web application with the ocpsoft [rewrite][1] filter installed.

                addRule().
                    when(isInbound().
                        and(Path.matches("/client/{path}")).
                        andNot(Path.matches(CLIENT_BASE_URL)).
                        andNot(Resource.exists(webJarPrefix + "/{path}"))
                    ).
                    perform(Log.

[2015-04-08 14:32] chkal commented on #206
Thanks for reporting this. Could you perhaps use your debugger to check if the `file` value created in this line is correct?

https://github.com/ocpsoft/rewrite/blob/a39a2d18f94e9843893d0fedb2ac9536cb9952ed/config-servlet/src/main/java/org/ocpsoft/rewrite/servlet/config/Resource.java#L62

And could you post the value of the `file` variable? I remember there are rules in regard to leading slashes f

[2015-04-08 15:29] MartinAhrer commented on #206
The value is ```/webjars/web-client/6.1.31.LOCAL/css/main-blue.ee89bcc6.css``` for example. So it has a leading /. I believe it must have that leading slash, otherwise ```getResource``` will throw an exception.

[2015-04-08 15:36] chkal commented on #206
Yeah, your are correct. I just checked the javadocs:

http://docs.oracle.com/javaee/7/api/javax/servlet/ServletContext.html#getResource(java.lang.String)

However, from my understanding `getResource()` should work fine here. Could you perhaps try to call `ServletContext.getResource()` from your application code just to check if it works or not. If not, this looks like a Spring Boot issue. The docs

[2015-04-08 15:40] MartinAhrer commented on #206
I have cross-posted that to stackoverflow http://stackoverflow.com/questions/29512824/ocpsoft-rewrite-is-not-able-to-detect-a-class-path-resource-in-a-spring-boot-app.

For now I have found a workaround:

[code]

[2015-04-08 15:42] chkal commented on #206
Sure. Of cause you can create your own condition and implement it like this. That's fine.

However, I really think the default Resource class should work fine. Perhaps a Spring Boot / Jetty issue?

[2015-04-08 15:45] MartinAhrer commented on #206
I know for sure that my classic WAR deployment works with that Resource class. It was only required within the Spring Boot environment-

[2015-04-08 15:46] chkal commented on #206
So a Spring Boot issue...

[2015-05-07 03:36] josivan commented on #30
I'm facing the same problem
I'm using
rewrite 2.0.10
PrimeFaces 4.0
Mojarra 2.2.0-m12
PrimeFaces Extensions 1.2.1
Rewrite 2.0.10.Final

Under tomcat everything works fine. But under Jetty 9. I have the same exception on console.
I still didn't find a solution for my scenario.

Do you have some suggestion?

Regards

[2015-05-07 16:47] chkal commented on #30
Could you try to update to the latest Rewrite version and check if the problem still occurs?

[2015-05-08 02:59] josivan commented on #30
Hello
I have updated to version 2.0.12.Final and I have the same problem.

I forgot to metion. I'm using jetty Version: 9.2.3.v20140905 and spring 4.1.6.

Regards

[2015-05-08 07:40] chkal commented on #30
@josivan:

Could you please open a forum topic for this and include the full stacktrace and your configuration?

http://www.ocpsoft.org/support/

[2015-05-11 01:15] josivan commented on #30
I'm working as consultant on a legacy code. I'm trying to remove prettyfaces to use rewrite. Let me try this approach first
.
I have noticed that code has dependencies of PrettyContext and I'm not finding a parallel of it on rewrite. Do we have some relationship in rewrite? Sorry for my basic question, but I'm newbie in prettyfaces/rewrite.

Thanks

Josivan

[2015-05-12 03:42] josivan commented on #30
**@chkal:**

I fixed the problem updating the namespace of pretty-config.xml.

I have replaced
[code]
with
[code]
Now it is working fine.

Thanks

Josivan

[2015-05-12 06:06] chkal commented on #30
Great that you fixed your problem. However, I doubt that an incorrect namespace has caused this. Actually I think that Apache Digester (which we use here) is ignoring XML namespace.

[2015-05-12 17:15] josivan commented on #30
Its possible.

I'm sure that I followed the steps as described here (http://www.ocpsoft.org/docs/prettyfaces/3.3.3/en-US/html/).
And during that I noticed the difference of namespace.

Thanks again

Josivan

[2015-05-22 08:22] kalgon opened #208 "Using named parameters on transient view gives warnings"
Using a transient view (without any bean) and named parameters (`/documents/#{id}`) gives the following warning: @ViewScoped beans are not supported on stateless views.

I suspect rewrite to store some information in the viewscope (even when using transient views).

[stackoverflow reference](http://stackoverflow.com/questions/30375283/prettyfaces-transient-view-and-named-path-parameters-give-a-war

[2015-05-22 08:43] chkal commented on #208
Rewrite doesn't store anything in view scope. Does it also happen if you use EL style parameter injection:

    <pattern value="/document/#{someBean.id}" />

[2015-05-22 08:54] kalgon commented on #208
Binding the parameter directly on a bean does not raise the warning.

[2015-05-22 09:16] kalgon commented on #208
I'm not a JSF expert but could this warning come from calling `UIViewRoot.getViewMap()` instead of `UIViewRoot.getViewMap(false)` ?

[2015-05-22 09:22] chkal commented on #208
Possible, but AFAIK Rewrite doesn't do anything like that.

[2015-05-22 09:43] kalgon commented on #208
`UIViewRoot.getViewMap(true)` is called (indirectly) from `FacesElUtils`.

    UIViewRoot.getViewMap(boolean) line: 1551
    UIViewRoot.getViewMap() line: 1502
    ScopedAttributeELResolver.setValue(ELContext, Object, Object, Object) line: 166
    DemuxCompositeELResolver._setValue(int, ELResolver[], ELContext, Object, Object, Object) line: 255
    DemuxCompositeELResolver.setValue(ELContext, Obje

[2015-05-22 10:18] kalgon commented on #208
It could be a bug in `com.sun.faces.el.ScopedAttributeELResolver.setValue()`: nothing is done to check if the ViewRoot is transient or not and `getViewMap()` is called.

[2015-05-22 12:04] chkal commented on #208
I agree. Rewrite does not explicitly store anything in the view map. For backwards compatibility it just stores the path parameter via EL in `#{name}`. Actually this isn't necessary, because Rewrite should actually just turn the parameter into a query parameter. But we decided to keep it that way for backwards compatibility.

[2015-05-22 12:19] kalgon commented on #208
Ok, thanks. I opened a [mojarra issue](https://java.net/jira/browse/JAVASERVERFACES-3939). I hope it won't take too long to fix...

In the meantime and if that is not too much to ask, do you think it could be possible to prevent Rewrite to store useless parameters via some kind of configuration flags? I know the problem is not on your side but you may react more quickly than the JSF implementation

[2015-05-22 14:47] chkal commented on #208
To be honest, I'm not sure if such an configuration options makes sense as this is valid behavior. And I think this could also break something like:

    <pattern value="/foo/#{someBean.param}" />

However, if you find some way to implement this flag without breaking something, a pull request would be awesome.

[2015-05-23 21:32] brnovais opened #210 "Outbound rule for Internationalize your URLs"
Implementing the tutorial [Internationalize your URLs](http://www.ocpsoft.org/rewrite/docs/configuration/i18n),  everything works just fine for Inbound rules. When I try to use tags such as h:link or h:outputLink in my XHTML page, I got a few exceptions regarding Outbound rewriting.

A pull request testing the issue can be viewed here: #209.

You can see more information and discussion [here](http

[2015-05-26 16:09] chkal commented on #210
Hey! Thanks a lot.

I'll try to find some time in the next days to have a look at this. But I'm very busy. So it may take some time.

If you would like to dig deeper into this, I've a first idea what is causing this. IMO the error is caused by this code in `Join`.

https://github.com/ocpsoft/rewrite/blob/a39a2d18f94e9843893d0fedb2ac9536cb9952ed/config-servlet/src/main/java/org/ocpsoft/rewrite/serv

[2015-05-28 04:38] chkal commented on #210
I created a branch with a possible fix.

https://github.com/ocpsoft/rewrite/tree/issue-210

[2015-05-28 12:37] cgendreau commented on #210
Thanks for the outbound rule test @brnovais and thanks for the possible fix @chkal.

Maybe the `translate(String lang, String value)` method should handle `lang == null` more gracefully but in theory (AFAIK at least), the transposition is not called unless it matches the Rule. So I'm wondering if under normal circumstance, `Parameters.retrieve(context, this.languageParam)` can return `null` and if

[2015-05-28 15:23] chkal commented on #210
I agree that there should be some exception telling the developer that the language query parameter is missing. It's a very common mistake to forget about the `<f:param>` in `<h:link>`.

The main problem here is that the transposition is done while writing the parameter value to the parameter value store. Now if a transpositions depends on some other parameter value, the order of processing the pa

[2015-05-29 03:58] chkal opened #211 "Resource transformation vs 404 errors on Wildfly"
We have some tests failing on Wildfly 8.2.0.Final which worked fine with older Wildfly versions.

Basically these tests verify that the resource transformation handles forwarded requests which result in a 404 error correctly. I disabled the tests for now. But we should have a look at them later.

[2015-05-30 21:05] fzoli opened #212 "CDI integration fails with multiple web project in EAR"
Hi,

I write an enterprise application that contains two web project.
Base rewrite functions work in both project and I can use CDI integration one of them.
If I use CDI integration in both project, it fails in application deploy time.

Here you find a sample project with log file:
http://lanitex.hu/Sample.zip

The startup log:

[code]

Zoli

[2015-05-31 07:22] chkal commented on #212
Hmmm. Weird. I see no reason why this should fail.

https://github.com/ocpsoft/rewrite/blob/c960607c4f3a4d099aea4d0a0dc1548b3e29feca/integration-cdi/src/main/java/org/ocpsoft/rewrite/cdi/bridge/RewriteLifecycleEventBridge.java#L36-37

Actually Weld is failing here. I've no idea why. Is Rewrite located in the EAR's or in the WAR's lib directory?

[2015-05-31 13:31] fzoli commented on #212
Rewrite is in the WAR's lib directory.

Here's the maven config:

web apps:
[code]

ear:
[code]

[2015-06-01 04:31] chkal commented on #212
Hey, thanks for providing these details.

However, I don't think that this is a bug in Rewrite. Looks like some Glassfish/Weld issue to me. Rewrite is basically using the CDI API to process `@Inject` annotated fields on an existing object. Weld then fails with an `IllegalArgumentException` when using `Field.set()` on the BeanManager field. According to the javadocs of `Field.set()` this exception

[2015-06-22 06:43] ceefour opened #213 "URLBuilder.decodeSegment / DefaultHttpRewriteProvider.rewriteHttp taking much CPU time?"
I was surprised when I see this in Java Mission Control (see attachment)

![download_20150622_133802](https://cloud.githubusercontent.com/assets/24123/8276803/d45ca766-18e4-11e5-96fb-8740dfab4bd9.png)
Cc @rudiw

[2015-06-22 15:50] ceefour commented on #213
Also with `org.ocpsoft.rewrite.servlet.impl.DefaultHttpRewriteProvider.rewriteHttp(HttpServletRewrite)`

![selection_112](https://cloud.githubusercontent.com/assets/24123/8285978/147b948c-1931-11e5-9b71-a1275421ac6c.png)

[2015-06-25 18:02] chkal commented on #213
Hmmm. AFAIK URLBuilder is deprecated. It still uses java.net.URI for URL decoding. I already reimplemented the decoding in AdressBuilder. Actually we should get rid of URLBuilder in favor of AddressBuilder. But IIRC there were some test failures the last time I tried to remove it.

[2015-07-24 08:21] sakinashaikh commented on #145
Did you ever got the resolution for this?. Even I am facing the same issue while downloading a file.

[2015-08-26 07:10] JensPiegsa opened #214 "Redirect.permanent() throws ParameterizationException"
My configuration looks like this:
[code]

Rule 0, 1 and 3 work, Rule 2 doesn't. Please see the stack trace for the latter below.

I'm using `rewrite-servlet` and `rewrite-integration-faces` and have tried this out with
`2.0.12.Final` and `3.0.0-SNAPSHOT` running on Wildfly `9.0.1.Final`.

Stack trace:

[code]

[2015-09-03 12:40] rubenscd commented on #158
+1

[2015-09-06 11:09] urugator commented on #212
Not sure if this is the cause, but you might want to check this:
http://balusc.blogspot.cz/2013/10/cdi-behaved-unexpectedly-in-ear-so.html

[2015-09-17 09:45] dboldureanu opened #215 "Concurrency issue in RewriteViewHandler"
Looks that some locking mechanism is missing in [RewriteViewHandler.getProviders](https://github.com/ocpsoft/rewrite/blob/master/integration-faces/src/main/java/org/ocpsoft/rewrite/faces/RewriteViewHandler.java#L151)

This issue is very similar to https://github.com/ocpsoft/rewrite/issues/201, the exception in that one is in another class FacesRewriteLifecycleListener, but the code is almost the s

[2015-09-18 05:46] chkal commented on #215
Yeah, it looks like this is similar to #201. Would you be interested in providing a patch to fix this?

[2015-10-01 12:41] dboldureanu commented on #215
Hello Christian, committed a patch, used solution from #201

[2015-10-01 14:37] chkal commented on #215
Thanks a lot. The patch has been merged!

[2015-10-01 14:37] #215 closed

[2015-10-02 23:37] Yavin opened #217 "Doubled rewrite rules"
Hi, i'm learning javaee7 and i have a problem with rewrite library.  Rules defined by `@RewriteConfiguration` class are loaded twice in the chain of rules. To demonstrate i create a [demo-minimal project](https://github.com/Yavin/rewrite-doubled-rules):

my ConfigurationProvider class:
[code]

And link in jsf:
[code]

The output link is then `/faces/index-rewrite-rewrite.xhtml` and expected result

[2015-10-03 10:28] chkal commented on #217
There are multiple possible causes for this.

* Rewrite could for some reason find the ConfigurationProvider twice
* The JSF implementation could call `HttpServletResponse.encodeURL()` twice

Could you post the full log output please? And which container are you deploying to?

If you are using the new `ConfigurationProvider` API, you won't need to add `rewrite-config-prettyfaces` to your dependenc

[2015-10-04 20:08] Yavin commented on #217
(possibly only end of this post is important)

I'm using glassfish 4.1, here is [whole log](http://pastebin.com/zkMheqZ7), and filtered output to phrase "ocp":
[code]

After some debugging  i found there a 2 registered AnnotationConfigProvider's, digging deeper [ServiceLoader:loadServiceFiles](https://github.com/ocpsoft/common/blob/1.0.5.Final/api/src/main/java/org/ocpsoft/common/services/ServiceL

[2015-10-05 05:49] chkal commented on #217
The Rewrite PrettyFaces module basically provides a way to use the old PrettyFaces configuration style with Rewrite. So if you prefer to use XML for rule configuration, you can use this module. However, the new Rewrite configuration API is much more flexible.

Your original problem seems to be caused by the fact that there is rewrite-annotations-impl on your classpath. I'll leave this issue open s

[2015-10-05 05:50] chkal commented on #217
Note to myself: Looks like the prettyfaces module declares a compile time dependency on rewrite-annotations-impl. Do we really need this? Shouldn't this be provided instead?

[2015-11-07 01:58] lincolnthree commented on #215
Rewrite 3.0.0.Alpha10 has been released, and contains this fix. Apologies for the delay, we had some release trouble that is fixed now.

[2015-11-07 02:03] lincolnthree commented on #158
Hey there, sorry for the extreme delay in getting back to this. The recommended approach for this is to allow only one of these URLs to work. So a global rule like:

`.addRule()
.when(Path.matches("/{path}/"))
.perform(Redirect.permanent(context.getContextRoot() + "/{path}"))
.where("path").matches("[.*]")`

Note that the last line: `.where("path").matches("[.*]")` tells Rewrite that the value of

[2015-11-07 02:05] lincolnthree commented on #158
The reason for this is that duplicating the inbound route entry-point can cause strange behavior when interacting with Search engines and handling links from other sites. While it technically works, if anything changes in the future, you might end up with half broken links. In the shorter term, Google will punish you for having duplicate content.

[2015-11-07 02:15] lincolnthree commented on #214
Hi, I'm sorry for the *extremely* delayed response.

I believe the answer to your situation in Rule 2 is that PhaseBinding only supports value submission; hence, `PhaseBinding.to()` not `PhaseBinding.from() <-- doesn't exist`.

This is due to the fact that evaluation of the Condition occurs outside of the JSF lifecycle, and even though you can defer a submission for a later phase, you cannot defer

[2015-11-07 02:15] #214 closed

[2015-11-07 02:16] lincolnthree commented on #213
Yes, we need to do that, or at least replace the encoding with the encoding provider that AddressBuilder uses.

[2015-11-07 02:20] lincolnthree commented on #185
The other option to avoid evaluating all of a condition is to wrap the condition in a Subset. See: https://github.com/ocpsoft/rewrite/blob/master/api/src/main/java/org/ocpsoft/rewrite/config/Subset.java

[2015-11-07 02:22] lincolnthree commented on #190
I believe this issue is resolved. Please reopen if it does not work. Check the 3.0.0.Alpha10 release.

[2015-11-07 02:22] #190 closed

[2016-01-14 21:57] jrry opened #220 "Rewrite 2.0.12 with characters in url + Wildfly 9"
Hi, I think that I found bug in Rewrite 2.0.12

My pretty-config
[code]
When I will add characters "[]" or "{}" to the address... example: "http://localhost:8080/Apptest/["
[code]
What's wrong?

[2016-01-15 04:11] lincolnthree commented on #220
Hey there. Thanks for bringing this to our attention.

Can you try with 3.0.0.Alpha10 and see if you still have this issue? We are working on a new release that has addressed some of the character encoding issues and it's possible that the issue is already resolved, but you may have found something new.

[2016-01-15 04:11] lincolnthree commented on #220
Additionally, if you could post the entire stack trace, that would also be helpful.

[2016-01-15 12:46] jrry commented on #220
In 3.0.0.Alpha10 problem with "[" and "]" has been fixed, but with "{" or "}" :-1:
[code]

[2016-01-15 16:50] chkal commented on #220
Yeah, I saw something like this in the past. Basically Rewrite uses `{` and `}` for parameters in URLs. That's why using them is problematic. I don't think that this is easy to fix. :worried:

[2016-01-15 20:29] lincolnthree commented on #220
Actually, this really shouldn't happen. Rewrite shouldn't attempt to parameterize the URL itself, it should only attempt to parameterize the pattern.

[2016-01-15 20:45] lincolnthree commented on #220
Ok. I've reproduced this in a test case. Checking it in.

[2016-01-15 20:49] lincolnthree commented on #220
Also, I believe this is a duplicate of the issue *I* forgot about: https://github.com/ocpsoft/rewrite/issues/195

[2016-01-15 21:22] lincolnthree commented on #220
This is tricky. I've got it complaining about the actual illegal characters now, but Rewrite really shouldn't blow up on these. It should let the app-server do that if necessary. Looking into it further.

[2016-01-15 21:25] lincolnthree commented on #220
I think I got it... checking in what I've got for review.

[2016-01-15 21:28] lincolnthree commented on #220
Almost. Need to update a few Builders.

[2016-01-15 21:39] lincolnthree commented on #220
Not quite :( Will keep working on it.

[2016-01-19 17:32] lincolnthree commented on #220
So the current issue I'm facing is that with my latest changes, { and } get dropped from URLs entirely, and I'm not entirely sure why. I believe it's happening in the Java URI class when performing decoding, but I'm not exactly sure what the right solution is. I may try escaping these characters specifically before decoding, but I really don't know if that's correct since they are technically inva

[2016-01-19 18:18] lincolnthree commented on #220
You can see what I've done so far here: https://github.com/ocpsoft/rewrite/tree/encoding

Essentially I created an AddressBuilder.buildLiteral() that does not attempt to parameterize anything. I think this is an important distinction because when using the AddressBuilder on an inbound URL, you never ever ever want to parameterize, so this effectively lets us turn it off. There's a little bit of co

[2016-01-19 20:13] chkal commented on #220
Hey Lincoln,

I didn't find time to look at the code, but the `AddressBuilder.buildLiteral()` idea sounds great. I also started to work on this some time ago, but wasn't very successful fixing the issue. But I agree that the cause of these problems is the default AddressBuilder API tries to process parameters even for literal URLs.

[2016-01-19 20:45] lincolnthree commented on #220
Any idea about what the proper behavior of the { and } characters should be in this case? (Or any other "unsupported" characters, for that matter.)

[2016-01-21 05:27] chkal commented on #220
You mean beside escaping it?

[2016-01-21 08:41] kalgon commented on #208
In the meantime, I am using `/documents/#{id : requestScope.id}`

[2016-02-09 00:32] seanf commented on #220
I have been seeing this problem on outbound URLs too, like `/iteration/view/#{versionHome.projectSlug}/#{versionHome.instance.slug}` which is built by a `navigation-case` in `faces-config.xml`. Both `#{versionHome.projectSlug}` and `#{versionHome.instance.slug}` are EL expressions, and probably shouldn't be interpreted by Rewrite at all. (Currently testing Rewrite 3.0.0.Alpha10 running on JBoss EA

[2016-02-09 05:31] seanf commented on #220
Those EL expressions which Rewrite couldn't handle were only there because I forgot to set a `from-outcome` in the `navigation-case`. So my workaround seems to be: fix my navigation rules.

[2016-02-11 15:17] MarinKacaj opened #222 "Child class of HttpConfigurationProvider not called at all"
Hello,

I added a child of `HttpConfigurationProvider` to my application and annotated it with `@RewriteConfiguration` as in the basic example. However `getConfiguration` is never called, and neither is `priority`.
I've also tried the suggested META-INF way (after removing the annotation), but I still don't get any results.
Rewrite starts up correctly as shown on the server logs (I get all INFO be

[2016-02-12 06:43] chkal commented on #222
Which dependencies did you add to your project?

Could you also post the exact name and path of the META-INF services file? Unfortunately minor typos in the file name or folder could cause that Rewrite doesn't find your provider.

[2016-02-12 09:53] MarinKacaj commented on #222
This is the dependency:
`<dependency>
     <groupId>org.ocpsoft.rewrite</groupId>
     <artifactId>rewrite-servlet</artifactId>
     <version>2.0.12.Final</version>
 </dependency>`
The path of the file:
<war root>/WEB-INF/services/org.ocpsoft.rewrite.config.ConfigurationProvider

[2016-02-12 10:56] chkal commented on #222
Is the service file path you mentioned relative to the WAR archive root or relative to the classpath?

In case of Maven you have to use:

    src/main/resources/META-INF/services/org.ocpsoft.rewrite.config.ConfigurationProvider

But NOT:

    src/main/webapp/META-INF/services/org.ocpsoft.rewrite.config.ConfigurationProvider

[2016-02-15 10:01] MarinKacaj commented on #222
Excuse my late reply.
The path of the config provider file is same as required. However apparently it doesn't make it to the .war file. Have you had such a problem before?

[2016-02-15 10:57] chkal commented on #222
What do you mean with:

Is the services file in the WAR or not?

[2016-02-15 11:12] MarinKacaj commented on #222
No, services is not there.

[2016-02-15 11:20] chkal commented on #222
In this case it is definitely a packaging issue.

If you are using Maven and place the file here:

    src/main/resources/META-INF/services/org.ocpsoft.rewrite.config.ConfigurationProvider

Then it should end up in the WAR archive like this:

    WEB-INF/classes/META-INF/services/org.ocpsoft.rewrite.config.ConfigurationProvider

[2016-02-15 11:22] #201 closed

[2016-02-15 11:38] MarinKacaj commented on #222
Yes, the file is there. However I keep getting 404. Logs show that my configuration provider is still not getting called.

    On Monday, February 15, 2016 12:20 PM, Christian Kaltepoth <notifications@github.com> wrote:

 In this case it is definitely a packaging issue.If you are using Maven and place the file here:src/main/resources/META-INF/services/org.ocpsoft.rewrite.config.ConfigurationProvid

[2016-02-15 12:57] chkal commented on #222
In this case set a breakpoint here and see what you are getting:

https://github.com/ocpsoft/rewrite/blob/master/api/src/main/java/org/ocpsoft/rewrite/config/ConfigurationLoader.java#L59

You can also create a minimal sample project that reproduces this issue which I could have a look at.

[2016-02-15 14:29] MarinKacaj commented on #222
The instance itself has a caches list (`ConfigurationLoader`), with a caches field of a size equal to 1, with no fields to display of its own.
These are a few screenshots:
[http://postimg.org/image/piov6oqyd/](url)
[http://postimg.org/image/tqjnffsdx/](url)
[http://postimg.org/image/c4gu7rqlx/](url)
[http://postimg.org/image/5o7vhoi2d/](url)
[http://postimg.org/image/z4nhk3ofp/](url)
[http://posti

[2016-02-15 16:25] chkal commented on #222
The most interesting question is whether you provider shows up in the list of providers.

I cannot see what is wrong with your setup from the screenshots. You could try to reproduce the issue with a sample app that you can share. Or you will have to debug the root cause yourself. Rewrite users the default JDK ServiceLoader mechanism under the hood. So there is no magic happening here.

[2016-02-16 13:58] MarinKacaj commented on #222
Yes, my provider shows up in the list.
I'll make a sample app by the weekend and try the re-write there.

[2016-02-18 07:02] seanf opened #223 "Duplicate parameters added to ServletRequest parameterMap"
When using just this rule:

[code]

I found that requests to `/project/view/foo` had four copies of the parameter `slug`, when accessed via `ServletRequest.getParameterMap()` or `getParameterValues()`. From my debugging, it appears that the `slug` binding is being registered repeatedly during filter initialisation at startup. (`ParameterBuilder.bindsTo` appears to be called too many times during `

[2016-02-20 11:00] chkal commented on #223
Thanks for reporting this.

Unfortunately I'm currently very busy and therefore don't find much time to work on Rewrite. :disappointed:

Perhaps you could ask @lincolnthree if he finds some time to help a fellow worker. :)

[2016-03-02 08:52] jllado opened #224 "Problem with # character in request parameters"
When I activate prettyfaces then I have the following error when trying to pass a request parameter with # character:

[code]

Any idea?

I’m using latest version of prettyfaces:

[code]

I also tried with last snapshot but I got the same error :S.

[code]

Thanks!

[2016-03-02 19:48] chkal commented on #224
One problem I see is that the URL doesn't look valid:

    /home.xhtml?agency=agt##2206

Are you trying to set the value of the param `agency` to `agt##2206`? In this case you have to escape the `#` characters as they are using to separate the fragment from the rest of the URI.

If you are trying to define a fragment named `#2206`, the URI is also illegal. Fragment identifiers must not contains `#

[2016-03-02 21:54] jllado commented on #224
Mmmm, it's true. I've checked that the AddressBuilder is using the java.net.URI class. So when new URI(...) is called, then the parse method throws a URISyntaxException... :_(

But for us it's an unexpected behaviour because it works without prettyfaces :S

[2016-03-03 05:53] chkal commented on #224
I see that this is unexpected for you as it worked fine before. But PrettyFaces has to parse URLs for being able to modify them. And invalid URLs are a really problem in this case. We are using java.net.URI because it implements the URI RFC correctly and can be considered to do its job. Of cause it would be possible to create a custom parser, which is more fault tolerant, but I guess that's a lot

[2016-03-21 11:44] matiwinnetou opened #226 "Redirect should not assume that we will always need url encode"
We found an issue where we already have url encoded parameters and ideally we do not want to encode them twice.

the original url which is causing an issue was this for us:

[code]

Our business requirements state that such url should be redirected to http and this work except for double encoding.

We found that Redirect class always has a Transpositions.encodePath() and we would like to disable t

[2016-03-22 16:57] chkal commented on #226
Could you perhaps share the rule you are using? To be honest, I don't fully understand why you have an already encoded URL as a parameter. And please also note that encoding rules for query and path parameters are different.

[2016-03-22 19:19] matiwinnetou commented on #226
Sure, I have a url like this:

https://localhost:8443/fz/search.html?scopeId=C&lang=de&internalRewrite=true&isSearchRequest=true&vc=Car&dam=0&ms=1900%3B25

somehow the code sees that as encoded and does not decode this

then when my rewrite rule kicks in, this redirects the user to http version of a page, then everything gets screwed since it is encoded twice.

we end up with:

http://localhost:81

[2016-03-22 19:20] matiwinnetou commented on #226
code looks like this:

[code]

[2016-03-22 19:21] matiwinnetou commented on #226
also this is very clunky that I have 4 rules, where as ideally I should have two rules, I could not get this to work with two rules.

[2016-03-23 05:59] chkal commented on #226
Hey @matiwinnetou,

thanks, I think I understand you requirement now. So the problem is that `Redirect.temporary()` expects and plain path and not a path with a query string. That's why `Redirect` assumes it has to perform path encoding.

What I think is also causing problems here is that you are trying to address your use case by capturing all the data in the condition parts by using large matchi

[2016-03-23 07:37] matiwinnetou commented on #226
@chkal Thx Christian, I will give it a try!!!

[2016-03-23 10:25] Tires opened #228 "Class loading from ServletContext"
External class paths should be respected in Tomcat, but are not. The problem is in /rewrite-annotations-impl/src/main/java/org/ocpsoft/rewrite/annotation/scan/WebClassesFinder.java:79:

classFileStream = entryUrl.openStream();

but, in my opinion, should be:

classFileStream = servletContext.getResourceAsStream(entryName);

Additionally, the method parameter URL entryUrl could be removed both from

[2016-03-23 13:01] Tires opened #229 "Extend ByteCodeFilter to Java 8"
Three new constants will enable Java 8 support:

   private static final int CONSTANT_MethodHandle = 15;
   private static final int CONSTANT_MethodType = 16;
   private static final int CONSTANT_InvokeDynamic = 18;

Implementation can be:

         case CONSTANT_MethodHandle:
           /*
            * CONSTANT_MethodHandle_info {
            *     u1 tag;
            *     u1 reference_kind;

[2016-03-23 16:49] chkal commented on #228
Could you explain what you mean with "external class paths"?

I wrote this class path scanning quite some time ago. And to be honest I would like to drop it in the next major release and replace it with something like the Reflections library. Especially because the current code also doesn't work well with Spring Boot.

[2016-03-23 16:49] chkal commented on #229
Awesome. Thanks a lot. Could you perhaps open a pull request for that?

[2016-03-23 17:18] Tires commented on #228
I'm working with Spring Boot also. External class paths mean, that an application server can map virtual paths to eg.

<Context>
    <Resources className="org.apache.catalina.webresources.StandardRoot">
        <PreResources className="org.apache.catalina.webresources.DirResourceSet"
            base="C:\\some\\path"
            internalPath="/"
            webAppMount="/WEB-INF/classes" />
    </

[2016-03-23 17:29] Tires commented on #229
I'm not so familiar with GIT, I'll ask somebody to assist with that.

[2016-03-24 05:21] chkal commented on #229
Awesome!

[2016-03-24 05:29] chkal commented on #228
Thanks for sharing these details.

As I wrote before I'm aware that the current scanning codes doesn't work in some scenarios like Spring Boot. But to be honest, I'm a bit conservative in changing the code, because it is very difficult to test all possible deployment scenarios. That's why I'm thinking about replacing all my hand-written code with some real annotation scanning library.

Did you tes

[2016-03-24 07:55] Tires commented on #228
I understand that this is a sensitive point and one can never be sure about the consequences of code changes. The method getResourceAsStream is a very old method from ServletContext, which is also suggested to be used on Google App Engine.

This would be more a quick fix, because class path detection is better done by finding META-INF/MANIFEST.MF, which a classpath scanner essentially does. But wi

[2016-03-25 11:03] chkal commented on #228
Ok thanks. Looks like you tested a large number of class loading scenarios. And all of this worked fine with your patch applied? That would be awesome. In this case I'm +1 for applying the patch. Just see my open question in the PR.

[2016-03-25 11:58] Tires commented on #228
The old scenarios continue to work and the new scenarios now do work, too. The reason for me to make this changes, was to get the new scenarios work.

What open question you're talking about?

[2016-03-25 12:06] chkal commented on #228
Ok, great.

The question about your change of `IOException` to `Exception`. I posted this to the PR.

[2016-03-25 17:08] chkal commented on #229
Fixed with #230

[2016-03-25 17:08] #229 closed

[2016-03-25 17:08] chkal commented on #228
Fixed with #230

[2016-03-25 17:08] #228 closed

[2016-03-25 20:40] Tires opened #231 "POM rewrite-parent SNAPSHOT"
I was faced with the following exception:

[code]

The reason is, in my opinion, that the parent POM entry from:

[code]

is pointing to:

[code]
I was expecting 3.0.0.Alpha10 (version from Central). 3.0.0.Alpha6 has the correct version entry.

[2016-03-26 07:22] chkal commented on #231
Yes, you are correct. It looks like the parent entry of this module is broken in 3.0.0.Alpha10. I've not idea how this happend. We usually use the maven-release-plugin for that which does all this automatically. Really weird.

Unfortunately there is no way to fix that. We cannot change the deployed artifacts in central. I'll double check this during the next release.

[2016-03-26 07:22] #231 closed

[2016-03-26 12:58] Tires commented on #231
Hope Alpha11 will be released soon.

[2016-03-28 02:06] tiago156 opened #232 "URLMapping annotation supports regular expressions?"
Is this code supposed to work?

[code]

Thanks!

[2016-03-28 06:51] chkal commented on #232
Yes, it should work.

[2016-03-28 12:46] tiago156 commented on #232
Sorry, on the original post the regex was wrong, I can't make it work with the regex `\d+`.

Is this tag correct `#{ /\\d+/ bean.id }`?

On the code below the method `check` is never called using the url `http://localhost:8080/store/123`

[code]

Thanks.

[2016-03-28 14:15] chkal commented on #232
If I remember correctly, you actually have to use:

    #{ /\\\\d+/ bean.id }

I know, this is ugly. But the core of PrettyFaces requires `\\d` and so your have to escape both `\` characters in a Java string literal. That's a known issue with PrettyFaces. But it is something we cannot change to preserve backwards compatibility.

[2016-03-28 15:04] tiago156 commented on #232
Worked! Thank you, and congrats for the awesome job on this framework.

Cheers.

[2016-03-28 15:04] #232 closed

[2016-03-28 15:11] chkal commented on #232
Thanks! You're welcome! :beers:

[2016-05-19 11:54] mrginglymus opened #233 "Lookup rule resolution"
Hi all,

We're using rewrite as a fairly simple clean url provider; all our rules are of the form Join.path().to(), with a few URL parameters.

However, we've encountered a few places (messages, emails, plus a couple of others) where we haven't been able to leverage the automatic rewriting capabilities. We are trying to keep all of our clean URLs in one place, so want to avoid hard-coding clean ur

[2016-05-19 14:58] chkal commented on #233
The simplest way to achieve this is to use `HttpServletResponse.encodeURL()` for this. This basically the hook used by Rewrite to do all of the outbound rewriting. Some try something like this:

[code]

[2016-05-23 08:26] mrginglymus commented on #233
Thanks, that works great within the request/response cycle...however! Our emails are sent on a JMS queue, so we don't have a live response to plug into. Is there a way I can get around this for my asynchronous URL needs?

Thanks again!

[2016-05-24 04:33] chkal commented on #233
To be honest, I don't think this is possible. Rewrite requires some more context which is only available in the web application Rewrite is deployed to.

However, you could have a look how Rewrite triggers the outbound rewriting for `HttpServletResponse.encodeUrl()`:

https://github.com/ocpsoft/rewrite/blob/master/impl-servlet/src/main/java/org/ocpsoft/rewrite/servlet/impl/HttpRewriteWrappedRespons

[2016-06-15 07:36] b0rengar opened #235 "No Parameters set when using @Inject HttpServletRequest"
Hello,

I try to access url parameters in my bean using a injected HttpServletRequest object but getParameter-Method always returns null. If I use FacesContext to get the request object everything works as expected.

Untested minimal example:

[code]
I'm using Wildfy 10 and have rewrite-servlet and rewrite-integration-cdi with version 2.0.12.Final in my Maven dependencies.

[2016-06-16 06:05] chkal commented on #235
I guess this is caused by the fact that Rewrite uses a servlet filter which wraps the `HttpServletRequest` and passes this wrapped request further down the filter chain. The servlet processing the request (the FacesServlet in this case) gets this wrapped request and is therefore able to access the request parameters added by Rewrite. Unfortunately CDI injection doesn't honor this wrapping mechanis

[2016-06-17 08:41] b0rengar commented on #235
Thank you for your response. It would be great if you could integrate this into your Documentation.

[2016-06-17 08:41] #235 closed

[2016-06-24 07:46] ceefour commented on #194
@chkal can you reconsider the decision? Although `org.ocpsoft.logging` is available, it's better (performance-wise) to use SLF4J API directly (see http://slf4j.org/faq.html#logging_performance).

Given that we're currently having performance issues with 2.0.12 (#213) it'd be great if there's one less bottleneck potential in current development.

[2016-06-25 06:28] chkal commented on #194
I'm not sure if using SLF4J directly is so much better performance-wise because the `org.ocpsoft.logging` abstraction also supports parameterized logging. So I don't think this will be a huge difference. Or are there any indications that this is the case?

[2016-06-25 08:02] ceefour commented on #194
Performancenya definitely improves since there's at least one less in the call stack, although not sure how much or how little.

Another question is whether org.ocpsoft.logging is actually necessary? What can't slf4j-api do, and what's the downside to using slf4j-api directly?

Large projects, including Spring which I believe has vast and strict requirements, use slf4j-api directly.

[2016-06-25 08:13] chkal commented on #194
The idea of using our own logging abstraction back then was to make it as simple as possible for users which actually use the standard Java logging API but also to allow users to use their own logging backend. I agree that if I had to make this decision today, I may choose SLF4J as it is very popular now.

However, I'm not sure about the benefit of moving completely to SLF4J now. This would be a h

[2016-06-25 11:26] ceefour commented on #194
Since 3.0 is under development,I think it's acceptable change.

With the proposed change, what user needs to do:

* If app is already configured to use slf4j (I.e. all Spring Boot apps), remove ocpsoft.logging and that's it
* If using other I.e. log4j, remove ocpsoft.logging and add slf4j-log4j*
* If truly using JUL, add slf4j-jdk14

Given that Spring defaults to slf4j, and lots of libraries use s

[2016-06-26 15:38] chkal commented on #194
I agree that this change would be acceptable, although it would mean that some users would have to adjust their dependencies. And as I wrote earlier, using SLF4J directly may have been the better choice back then.

However, I still don't think that replacing one logging facade with another is worth the effort. It would be quite some work to remove `org.ocpsoft.logging` from the Rewrite code and to

[2016-06-26 16:13] ceefour commented on #194
Yes if accepted then I can volunteer

[2016-06-27 07:19] chkal commented on #194
@lincolnthree That do you think about replacing our custom logging abstraction with slf4j?

[2016-07-16 21:46] lincolnthree commented on #224
This may be solved by the recent fix for #195  - I just added some tests to verify. Looking good so far.

[2016-07-16 21:49] lincolnthree commented on #223
I've tried (finally) to take a look at this issue, but I have been unable to reproduce it. Do you think you could try this in a sample application? I'm guessing there is some other custom functionality that is causing this (not Rewrite), but those may be famous last words, of course.

There is a chance we are causing this in your specific scenario, but without more information it will be hard to d

[2016-07-16 21:50] lincolnthree commented on #220
This is a duplicate of #195, now fixed in the encoding branch, soon to be merged to master.

[2016-07-16 21:50] #220 closed

[2016-07-16 22:24] #177 closed

[2016-07-17 07:07] chkal commented on #226
Hey! Did my suggestion work for you? I'm curious! ;-)

[2016-07-19 02:53] seanf commented on #223
Hi @lincolnthree, thanks for looking into it. This project can be used to reproduce it: https://github.com/seanf/wildfly-quickstart/tree/rewrite-issue-223/helloworld

As described in the README, you'll need WildFly 10 running; then you can deploy with `mvn clean install wildfly:deploy`.

Then visit [http://localhost:8080/wildfly-helloworld/hello/world](http://localhost:8080/wildfly-helloworld/hell

[2016-07-19 05:36] #213 closed

[2016-07-19 05:53] #233 closed

[2016-07-19 06:01] chkal opened #239 "Update minimum JDK version to 7"
We currently compile against JDK6. As even JDK7 is EOL now, we should at least update to JDK7.

[2016-07-19 06:03] chkal opened #240 "Consider dropping Servlet 2.5 support"
We have some ugly hacks in the code for maintaining Servlet 2.5 compatibility. I think we should remove this in 4.0.0.Final.

[2016-07-26 04:37] chkal commented on #194
I talked with @lincolnthree about this topic. We decided to keep ocpsoft-logging for now. We think that ocpsoft-logging supports a better "getting started experience", because it supports the default case, which is using JUL, out of the box and can nevertheless be configured to delegate to any other logging framework. Also we both had slf4j version issues in the past and therefore think that users

[2016-07-26 04:37] #194 closed

[2016-08-15 19:52] cocorossello opened #241 "3.4.0.FINAL rewrite-servlet includes all javax servlet specification"
The jar file includes all specification classes, resulting in conflicts when deploying in a server (TomEE 7.0.1 in my case).

Should we use another dependency since 3.4.0 or is it a mistake?

[2016-08-16 10:12] chkal commented on #241
Thanks for pointing this out. That's actually a mistake. Not sure why this happend. But packaging Java EE API classes is definitely not correct. Looks like some problem with the shade plugin. I'll have a look at this ASAP.

[2016-08-20 06:24] chkal commented on #241
Hey. I spent some time to fix the release process and prepared the 3.4.1.Final release. Could you perhaps give it a try before I release it? The release is staged in this repository:

https://oss.sonatype.org/content/repositories/orgocpsoft-1058

You can basically add the repository to your pom and update the version to 3.4.1.Final. If everything works fine it is just a single button click for me

[2016-08-21 20:04] cocorossello commented on #241
Hi,

It is working now, altough I'm not getting the rewritten URL for some reason. I'll investigate a little bit to see if it's my application...

Thank you!

[2016-08-21 20:04] #241 closed

[2016-08-21 20:30] cocorossello commented on #241
Indeed, it was a problem of mine. The project is working fine.

Thanks

[2016-08-22 05:52] chkal commented on #241
Awesome! Thanks for giving the staged version a try.

I'll push out the release later today or tomorrow. The exact same JARs will be published to Maven central. So there is nothing for you to do beside removing the staging repository from your pom.

[2016-08-22 08:59] rudiw opened #242 "OCPSoft Rewrite memory usage too much"
Version: 2.0.12.Final

![image](https://cloud.githubusercontent.com/assets/1597815/17849005/ae70a396-6824-11e6-9221-fa6b2400ec85.png)

Compare the above ocpsoft rewrite usage (~ 2 GB!) with Wicket + our own class `id.co.bippo.web.pub.BippoPubPage` (~146 MB) :

![image](https://cloud.githubusercontent.com/assets/1597815/17849113/475da310-6825-11e6-9175-6b327f25b6f0.png)

Related to #213
Tag @ceefou

[2016-08-22 10:59] rudiw commented on #241
Tag @ceefour

[2016-08-22 11:01] rudiw commented on #241
@chkal Thank you! Very much waiting for this fix!

[2016-08-22 17:02] lincolnthree commented on #242
Hi! Thanks for reporting this. We've seen some other performance issues with the URLBuilder, and we made some adjustments in the 3.4.1.Final release that were intended to address these:

https://github.com/ocpsoft/rewrite/commit/3a6546e5ca01c726c8a0630b495ef52856cc72be

However, there was a packaging issue with 3.4.1.Final, so we are working on releasing 3.4.2.Final ASAP.

Feel free to try 3.4.1.F

[2016-08-22 17:04] lincolnthree commented on #242
Additionally, you can try 3.4.1.Final in staging now by adding the following repository to your `pom.xml`

https://oss.sonatype.org/content/repositories/orgocpsoft-1058

[2016-08-22 17:05] lincolnthree commented on #242
Actually, 3.4.1.Final has been released. You should be able to upgrade now.

[2016-08-22 17:09] lincolnthree commented on #233
Just a thought on this. You might be able to get this to work if you mocked the HttpServletRequest and HttpServletResponse.

I'd actually be interested in seeing a patch that makes it possible to use Rewrite in an "offline" context. Assuming the design was good, I'd be willing to entertain making that a feature.

[2016-08-22 19:23] rainermueller opened #243 "NullPointerException in org.ocpsoft.urlbuilder.AddressBuilder#queryDecoded"
Method throws NullPointerException with given input (line 204)
CharSequence name = null
Object... values = Object[0]

Method called from org.ocpsoft.rewrite.servlet.config.PathAndQuery#evaluateHttp (line 133)

InboundRewrite [POST url=http://localhost:8080/rest/authenticationServices/validateUserCredentials, flow=UN_HANDLED, dispatchResource=null]

[code]

[2016-08-22 20:24] lincolnthree commented on #243
Hi.

Could you please post a full stack trace? Otherwise we won't be able to figure out what's going wrong here.

Even better, if you could submit a test case or sample app that reproduces the issue we would appreciate it!

Thanks again for reporting,
Lincoln

[2016-08-23 04:52] rainermueller commented on #243
Some more details, sorry for not mentioning. Upgraded from 2.0.12.Final to 3.4.1.Final, with 2.0.12 there was no problem with the code.

Here the full stack trace
[code]

Were able to fix the issue by replacing PathAndQuery.matches with Path.matches as our rewrite rules handles request path values only.

[2016-08-23 07:08] mrginglymus commented on #233
Thanks, I'll have a play.

[2016-09-01 13:23] lincolnthree commented on #243
Hey Rainer,

Thanks for the update. Looks like I probably botched something in the performance refactor that wasn't caught by one of our test cases (obviously.)

I'll take a look at this, but if you could post the rule you built (scrubbed for privacy if possible), that would also be really helpful!

Thanks!

[2016-09-12 07:46] rainermueller commented on #243
[code]

As mentioned before we replaced PathAndQuery.matches with Path.matches

[2016-11-02 09:40] rainermueller commented on #243
Is there an update on this problem? We have to use PathAndQuery class as Path does not forward URL parameters in our proxy application.

[2016-11-02 10:38] rainermueller commented on #243
Second parameter of `org.ocpsoft.urlbuilder.AddressBuilderPath#queryDecoded` method is a varargs.
[code]

From `org.ocpsoft.rewrite.servlet.config.PathAndQuery#evaluateHttp` the method is called without the varargs parameter `queryDecoded(event.getInboundAddress().getQuery())`

In `org.ocpsoft.urlbuilder.AddressBuilder#queryDecoded` parameter name is null and values is Object[0]. Calling `name.toS

[2016-11-03 05:39] chkal commented on #243
Hey @rainermueller. Thanks a lot for the analysis. Unfortunately I don't have much time ATM to work on Rewrite. Would you be interested to contribute a fix for this? Looks like you are familiar with the root cause of the NPE now and writing a unit test that reproduces this should be easy. Any contribution is highly welcome.

[2016-11-11 11:01] balta3 opened #246 "Values of f:param for a h:link will be put in the request parameter map"
See the following example:

[code]

The output of the parameter map will contain the parameter _linkparam_ of the link generation after the link. This makes it inpossible to get the original parameter map of this request.

[2016-11-12 09:57] chkal commented on #246
Could you please share more details about your setup. Especially which dependencies you included in your project, which version you are using and the rule you are using for `/page.xhtml`.

[2016-11-14 10:51] balta3 commented on #246
I've created a very simple test project (Maven, 1 class and 2 xhtml files)
You can see the wrong behaviour on /page1, /page2 shows expected behaviour

[rewrite-bug-246.zip](https://github.com/ocpsoft/rewrite/files/589014/rewrite-bug-246.zip)

[2016-11-15 07:11] #243 closed

[2016-11-15 17:11] chkal commented on #246
Hey. Thanks a lot for providing the sample application. I was able to reproduce the issue you described very easily with it. And I agree that the current behavior isn't correct.

Unfortunately this bug is very hard to track down. I spent over 1.5 hours trying to identify the root cause and I'm still not sure what is going on. And fixing it may even have a large impact on the code base. Not sure ab

[2017-01-03 16:16] lincolnthree commented on #246
Rewrite is *supposed* to ignore these special parameters, I'll have to take a closer look. Thanks for submitting this and sorry for the delay! As Christian mentioned, we're both pretty busy at the moment, but I'll see what I can do.

[2017-02-07 19:19] melloware opened #247 "Case Insensitive Path?"
I have a simple request.  I am trying the following:
`
.addRule().when(Direction.isInbound().and(Path.matches("/TEST/INFO.HTM"))).perform(Forward.to("/pages/info.xhtml"));`

I want it to work if I type in any case insensitve version of the URL like...
/test/info.htm
/TEST/info.htm
/TEST/INFO.htm
/test/INFO.HTM
etc...

I tried doing Path.matches("(?i)/TEST/INFO.HTM") using ?i but that has had no ef

[2017-02-07 22:05] lincolnthree commented on #247
My recommendation would be to first do an internal forward or redirect in which you lowercase the path. Supporting case-insensitive paths is a bit of an anti-pattern due to the fact that it creates multiple URLs for the same resource.

That said, you can effectively achieve this, and you probably want to use a global rule before your individual routing rules:

Implement a Lowercase Transposition:

[2017-02-07 22:06] lincolnthree commented on #247
Actually, it might be better to do this with a `Converter`, not a `Transposition`, since that happens after the matching stage. But try both and see which one meets your needs.

[2017-02-07 22:07] #242 closed

[2017-02-07 22:07] lincolnthree commented on #242
Closed as out-of-date.

[2017-02-07 22:08] lincolnthree commented on #226
Closing as out-of-date. Thanks for the elegant solution, @chkal !

[2017-02-07 22:08] #226 closed

[2017-02-07 22:09] lincolnthree commented on #224
Should be resolved in Rewrite 3.4.1.Final

[2017-02-07 22:09] #224 closed

[2017-02-07 22:09] lincolnthree commented on #222
Closing as out-of-date.

[2017-02-07 22:09] #222 closed

[2017-02-08 00:34] melloware commented on #247
Thanks for this.  I will give this a shot and report back.   I definitely know its an anti-pattern however my client has some specific requirements of URL's like the ones I mentioned above so I wanted a way of generically handling it.  I think a global rule like you suggest above is what I am looking for.

[2017-02-08 21:21] matiwinnetou commented on #226
Yes it did, sorry that I forgot to close this.

[2017-02-09 15:16] lincolnthree commented on #226
Great! Thanks for the update and thanks Christian for the great feedback :)

[2017-07-18 00:39] garcia-jj commented on #212
Just for information: I have and EAR application with 3 WARs using rewrite `3.4.1.Final` under Wildfly 10.1 and all works fine. All WARs have rewrite inside its own WEB-INF/lib directory.

[2017-08-04 02:54] zhanwen opened #249 "I can after the response has been committed call sendRedirect() ?"
public void test(HttpServletResponse response) throws Exception {　　
　　　　//response commit　　
　　　　//then i want redirect　　

}

[2017-08-04 04:32] chkal commented on #249
No, that's a restriction of the Servlet API. If you commit the response, the response headers are sent to the client and therefore you cannot change them after that.

[2017-08-04 04:32] #249 closed

[2017-08-04 04:51] zhanwen commented on #249
Thanks for you response. I will select other way deal.

[2017-08-22 17:50] lriquelme opened #250 ""Parent" similar from PrettyFaces"
Hi guys, what is the similar "parent" annotation (from prettyfaces) in rewrite?

Regards

[2017-08-23 07:53] chkal commented on #250
No, sorry. I don't think there is such a feature yet.

[2017-08-23 12:22] wje97951 commented on #126
@djmj
Are you sure that problem described in your [comment](https://github.com/ocpsoft/rewrite/issues/126#issuecomment-48038178) was resolved in `3.0.0 alpha 4` ?
I have tested similar scenario with `3.0.0 alpha 4`  and `3.4.1.Final ` and that issuse still seems to be unresolved

[2017-08-27 15:43] lincolnthree commented on #250
Actually, I believe the Subset rule can be used for this purpose, but you might have to do a little bit of hand-waving to get child rules to apply themselves as if they were a literal child of the "parent" segment:

https://github.com/ocpsoft/rewrite/blob/master/api/src/main/java/org/ocpsoft/rewrite/config/Subset.java

A few examples of simple Subset use-cases. However, I don't believe I have one

[2017-08-31 12:46] Quix0r opened #251 "Java class-less rewriting?"
Hi,

with pretty-faces, it was possible to have URL-rewriting without any Java class. Now on your example there is some Java code, adding programmatic need (not suitable for all people) instead of configuration (more suitable for non-programmers). Also for the sake of simplicity the programmatic way should be optional, giving finest customization. For most common use-cases, the configuration-only

[2017-09-01 13:20] chkal commented on #251
Hi,

thanks for your feedback. Nice to hear that you like Rewrite.

However, we decided back then that a programmatic configuration API would be  superior compared to XML files. Coding your configuration gives you much more flexibility you won't ever get from XML.

I don't fully understand your "XML is better for non-programmers" argument. Why should a non-programmer edit these mapping files? The

[2017-09-04 08:23] Quix0r commented on #251
Maybe a non-Java programmer. ;-)

[2017-09-04 10:09] chkal commented on #251
Well, I could argue that non-programmer can read the Java DSL better than XML, because the Java DSL reads like English sentences. ;-)

However, I don't think that there will be a XML based configuration addon for Rewrite in the future. Simply because it means a lot of work and IMO brings very little benefit. But if you like the PrettyFaces way of configuration, you can simply use `rewrite-config-p

[2017-09-13 18:42] lincolnthree commented on #251
One can always write their own configuration file-driven method for Rewrite, as well. That's the beauty of having a core Java library - you can implement configuration with any method you choose. This is how we have so many extensions and integrations for other systems, even other rewrite filter configuration files. Take a look at the sources in any of the "config-*" folders for examples.

[2017-10-06 08:49] groie opened #252 "value href-attribute of base-tag not rewritten"
Angular applications use a base-tag inside the head-tag. The base tag has an href attribute which is the intended context path of the application. This value is not rewritten causing the application not to work.

Is there a way to add another processor to ocpsoft-rewrite that it would also rewrite this attribute?

Angular documentation of base-Tag: https://angular.io/guide/router

[2017-10-07 08:28] chkal commented on #252
Rewrite can only rewrite URLs, if they are passed though `HttpServletResponse.encodeURL()`. Typically all URLs rendered to the page are encoded this way to preserve JSESSIONID if used. So if you simple put a string literal into your page, it won't be rewritten.

You could either encode the URL using `HttpServletResponse.encodeURL()` yourself, or you could the [Transformer](https://github.com/ocpso

[2017-11-02 10:01] kalgon opened #253 "Add a parameter to disable WEB-INF/classes scanning"
Hi,

would it be possible to have some flag to disable the scanning of WEB-INF/classes?

    <context-param>
        <param-name>org.ocpsoft.rewrite.annotation.SCAN_CLASSES_DIRECTORY</param-name>
        <param-value>false</param-value>
    </context-param>

currently, classes directory is always scanned while lib directory scanning must be enabled.

I am asking for this feature because I have a h

[2017-11-30 22:09] matthew-a-dunlap opened #254 "Log noise from malformed urls"
Hello,

The project I am working on uses PrettyFaces, and nightly a security scan is run on our system which sends a large number of malformed url requests. These requests are causing a very large quantity of noise in our logs due to PrettyFaces and underlying java classes erroring. We want this noise to not fill up our logs every night. Do you have any advice on how to deal with this other than m

[2017-12-01 06:59] chkal commented on #254
Thanks for reporting.

I just had a quick look at the stacktraces mentioned in IQSS/dataverse#4204 but for me it looks like this isn't caused by inbound but by outbound rewriting. In the latter case a possible cause would be that values of query or path parameters aren't encoded correctly before being passed to JSF/PrettyFaces.

If you could provide a concrete stack trace with some more informatio

[2017-12-01 16:54] matthew-a-dunlap commented on #254
Thanks for the quick reply!

I've attached another similar stack trace before, which includes the pretty faces root cause dialog at the end.

We are a bit confused as to how our issue differs from the one discussed in https://github.com/ocpsoft/rewrite/issues/224 , which seemed to involve similar parsing issues and was reported to have been fixed. The error I've provided here is from an older vers

[2017-12-01 17:44] chkal commented on #254
Thanks for providing the stacktrace. The interesting thing here is the JSF is trying to render an invalid relative URL into the page. From the stacktrace it looks like the JSF form postback URL is:

    /dataverse.xhtml?q=&types=files"&sort=nameSort&order=desc

This URL is not valid according to [RFC3986](https://tools.ietf.org/html/rfc3986). The problem is the `"` character which has to be percen

[2017-12-01 19:22] pdurbin commented on #254
@chkal thank you for your prompt replies on this issue. In case it's not clear, it's neither real users nor our app (Dataverse) that are generating the URLs that are causing so much trouble.

The URLs are being generated by a security scanning app that generates URLs with `print` statements and other strange things in them, like this: `/dataverse.xhtml?q=&fq0=fileTypeGroupFacet%3A%22unknown%22&typ

[2017-12-03 10:55] chkal commented on #254
Hey, I just committed `6656b54ff32b3e526947afebc8ada2fa704f2437` which COULD fix this issue. Basically we are now just skipping outbound rewriting for invalid URLs, which may be a better way to go.

Unfortunately our snapshot deployment is currently broken, so you would have to build Rewrite yourself to give it a try. Perhaps I'll find some time in the next day to fix it.

[2017-12-04 18:10] matthew-a-dunlap commented on #254
I built 3.4.2 and tested it on our system and it works great! Thanks so much for the quick response.We had started on creating a filter to run/catch the erroring command before prettyfaces, but this is much better :).

Do you know when the next official release may be?

[2017-12-04 18:23] matthew-a-dunlap commented on #254
One small thing: in our glassfish logs that logged message does not print with the name of the class. It may just be due to how I imported the jar or something? I am still able to filter it out of our logging through logging.properties tho so its not a big deal for our specific case:

`[2017-12-04T13:06:05.097-0500] [glassfish 4.1] [WARNING] [] [] [tid: _ThreadID=127 _ThreadName=http-listener-1(4)

[2017-12-07 06:14] chkal commented on #254
Thanks for letting us know that the latest snapshot works for you. There is currently no release scheduled. So it may take some time.

Regarding the log messages. That's indeed very weird. It may be caused by how our logging abstraction creates log events:

https://github.com/ocpsoft/logging/blob/6e7e54af4e38d0a52059f3a4094710656332ea0a/api/src/main/java/org/ocpsoft/logging/JDKLogAdapter.java#L22-

[2017-12-07 06:14] #254 closed

[2017-12-07 06:14] chkal commented on #254
I just closed this as the reported issue is basically resolved.

[2017-12-25 23:26] djmj opened #256 "tel or mailto links Exception"
I used a PrimeFaces _p:link_ with a phone _href_ value like _tel: 0123 456789_ and PrimeFaces calls _context.getExternalContext().encodeResourceURL(url)_. So rewrite module is invoked and fails with following exception. Is it a primefaces problem, that they should not call this function in case of a simple _href_?

java.net.URISyntaxException: Illegal character in opaque part at index 8:
	at java.

[2017-12-26 14:10] chkal commented on #256
Actually `tel:0123 456789` isn't a valid URL/URI. The space character is not allowed. Unfortunately Rewrite currently fails for invalid URLs. You could have the latest snapshots a try. I recently committed some changes which will result in Rewrite handling invalid URLs more gracefully.

[2017-12-26 14:46] djmj commented on #256
Thank you, i did not know that.I will test it later but removing the spaces made it work.

Is it possible to rewrite tel or mailto links at all?

[2017-12-26 15:23] chkal commented on #256
Could work. Not sure. Never tried it. :smile:

[2018-01-05 14:51] benignoms opened #257 "PrettyFaces changes the scheme from Https to Http"
I'm using PrettyFaces in my project. We recently started using SSL (Https), however, when calling, for example pretty:main-page in a commandlink the https protocol is modified to http. If I used a normal call without pretty: the protocol is not modified. Is there anything I can do to fix this, without needing to wait for the next version?

[2018-01-05 16:04] chkal commented on #257
Could you share more details about your setup? Which container are you using? Which version of Rewrite/PrettyFaces, etc...

[2018-01-05 17:20] benignoms commented on #257
[pretty-config.txt](https://github.com/ocpsoft/rewrite/files/1607310/pretty-config.txt)

I'm usign Glassfish 4, but I've tested it on previous versions and it also did not work.
JSF 2.2

Dependencies
<dependency>
            <groupId>org.ocpsoft.rewrite</groupId>
            <artifactId>rewrite-servlet</artifactId>
            <version>3.4.1.Final</version>
        </dependency>
        <dependenc

[2018-01-06 10:15] chkal commented on #257
Well, this isn't actually a Rewrite issue, but a problem of your container configuration. Let me try to explain what happens in your case.

Rewrite uses the standard Servlet API to send the redirect.

    httpServletResponse.sendRedirect("/foobar");

Please note that the redirect target is relative to the context path of your application. Now the servlet container transforms this to an absolute UR

[2018-01-27 12:52] silvafabio opened #258 "StringIndexOutOfBoundsException in Decoder.decode"
Hi Guys.

If the "path" variable has an '+' in the last position an "java.lang.StringIndexOutOfBoundsException: String index out of range" occour in line 36 of org.ocpsoft.urlbuilder.util.Decoder#decode(final CharSequence path, final boolean query)

I'am using:

        <dependency>
            <groupId>org.ocpsoft.rewrite</groupId>
            <artifactId>rewrite-servlet</artifactId>

[2018-01-27 13:04] silvafabio commented on #258
After fix that, take a look at #210 because it's could be the cause as my stacktrace is too similar:

`Stack Trace:
javax.faces.FacesException: Error during [OutboundRewrite [flow=UN_HANDLED, outboundURL=/produtos.xhtml?categoria=todas-as-categorias&descricao=teste%2B&fabricante=todas-as-marcas&tipo=todos-os-tipos, dispatchResource=null]] while executing rule [.addRule(Join.path("/{categoria}/{tip

[2018-01-27 20:36] chkal commented on #258
Thanks a lot! I agree that a `continue` after the `pos++` should fix the problem

https://github.com/ocpsoft/rewrite/blob/b77951635988b4ae43bc539442a640382105b1ed/addressbuilder/src/main/java/org/ocpsoft/urlbuilder/util/Decoder.java#L32

I don't find much time to work on Rewrite any more. But pull requests are welcome. There is also a `DecoderTest`. So verifying the fix should be easy.

[2018-03-08 06:36] seanf opened #260 "org.ocpsoft:ocpsoft-parent:pom:15 is not in Maven Central"
@lincolnthree The new rewrite 3.4.2.Final release uses org.ocpsoft:ocpsoft-parent:pom:15, but this POM is not found in Maven Central.

[2018-03-08 13:10] lincolnthree commented on #260
Hey @seanf! Thanks for the heads up. I'm not sure why that didn't go along with the release staging repository.... but... I've gone ahead and re-uploaded it. It should be available as soon as Nexus syncs with Sonatype!

In the meantime, you can go ahead and install this:
https://github.com/ocpsoft/parent/tree/15

Sorry for the headache! Let me know if you have any other issues!

[2018-03-08 13:10] #260 closed

[2018-03-08 16:08] matthew-a-dunlap opened #261 "3.4.2 Not Final"
Quick issue, I noticed the maven listing for 3.4.2 does not have the -Final tag on it, tho the documentation lists it as so. My team is interested in updating as it has this fix https://github.com/ocpsoft/rewrite/issues/254 (thanks for that!), but are unsure whether the 3.4.2 release we are getting is fully vetted.

Thanks much :)

[2018-03-08 16:10] #261 closed

[2018-03-08 16:25] matthew-a-dunlap commented on #261
Nevermind, it looks as if a full refresh of my maven archive solved the issue!

[2018-03-17 15:54] lincolnthree commented on #261
Glad you got this sorted out! Thanks for updating :)

[2018-05-04 04:10] sinhkej opened #263 "Problem with | character in request parameters"
## When I activate rewrite then I have the following error when trying to pass a request parameter with | character:
`2018-05-04T10:30:39.760+0700|Severe: Error Rendering View[/view/searchResult/SearchResultTop.xhtml]
java.lang.IllegalArgumentException: [/c1s-web-userweb/view/searchResult/SearchResultTop?dispPartIds=INTE-0022162|INTE-0024495|NTE-0024496|INTE-0024497|INTE-0024498&dispAllFlg=true&se

[2018-05-04 04:48] chkal commented on #263
Could you please update to `3.4.2.Final` and check if this issue still occurs?

[2018-05-04 07:30] sinhkej commented on #263
Awesome!
Rewrite version 3.4.2.Final working for me. Thanks a lot.

[2018-05-04 18:14] chkal commented on #263
Thanks for letting us know!

[2018-05-04 18:14] #263 closed

[2018-07-04 22:11] Quix0r opened #264 ""home" translated to "heim" in German language"
Under https://github.com/ocpsoft/rewrite/blame/master/documentation/src/main/asciidoc/configuration/i18n.asciidoc#L127 your translation from "home" as "heim" (das Heim) in Germany language seems to be a direct translation. Also "das Zuhause" (zuhause) would a wrong translation as the meaning is different.

I would propose "start" here (translated by meaning) as that is where the homepage actually

[2018-07-04 22:12] Quix0r commented on #251
I think I come to use `Rewrite` as internationalization in URLs is what I may also look for. Thank you all for your valuable feedback!

[2018-07-04 22:12] #251 closed

[2018-07-11 17:00] TheTimeWalker opened #265 "AbstractMethodError when <f:websocket> is used"
There's currently a compatibility issue with JSF 2.3 new websocket implementation.
As soon as a <f:websocket> block is being used in an XHTML, the facesServlet throws an exception:

`java.lang.AbstractMethodError
	at javax.faces.application.ViewHandlerWrapper.getWebsocketURL(ViewHandlerWrapper.java:357)
	at javax.faces.application.ViewHandlerWrapper.getWebsocketURL(ViewHandlerWrapper.java:357)
	at

[2018-07-11 17:56] lincolnthree commented on #265
Hey! Thanks for reporting this.

Does the same error occur if you are not including OmniFaces?

[2018-07-12 13:13] TheTimeWalker commented on #265
Good idea, you made me try different combinations with Omnifaces + Rewrite and there could be a connection between the two.

Interestingly, on a clean slate project the WAR deploys and doesn't throw any error if either only Omnifaces 3.0 alone or only Rewrite 3.4.2.Final are integrated. For some reason I can't replicate that throw error there... but instead as soon as both are being added and ENAB

[2018-07-12 16:55] chkal commented on #265
Looks like the NPE is thrown here:

https://github.com/tyrus-project/tyrus/blob/1.14/containers/servlet/src/main/java/org/glassfish/tyrus/servlet/TyrusServletContainerInitializer.java#L153

`ServletContext.addFilter()` will return `null` if:

So maybe the initialization is triggered twice for some reason?

[2018-08-15 20:48] svrolanski opened #266 "Same url diferente java type"
I want to do this:

[code]
But I get this "java.lang.NumberFormatException", I guess I can work around always using a string and doing the conversion myself, but I don't think prettyfaces should throw exception until all mappings are tested.

[2018-08-16 06:09] chkal commented on #266
You should be able to use custom regex patterns to do this:

http://www.ocpsoft.org/docs/prettyfaces/3.3.3/en-US/html/Configuration.html#config.pathparams.regex

[2018-08-16 13:56] svrolanski commented on #266
I don't think it will work, the regex seems to work for something like '/something/anotherThing/' and I want '/shop/<number OR text here>', that would be the item ID or its name. So I did like this:

[code]
[code]

[2018-08-16 16:36] chkal commented on #266
You could use a regex to restrict the mapping in a way, that it will only match for numeric path params. Anyway, your solution will of course also work.

[2018-08-16 16:36] #266 closed

[2018-08-24 07:30] kalgon commented on #208
Closing as this issue is a [mojarra-specific problem](https://github.com/eclipse-ee4j/mojarra/issues/3943).

[2018-08-24 07:30] #208 closed

[2018-08-24 15:07] #253 closed

[2018-09-27 23:16] mdfst13 opened #276 "Java EE 7"
I have a Java EE 7 version of Rewrite at my [javaee7 branch](https://github.com/mdfst13/rewrite/tree/javaee7).  This version runs correctly on Tomcat 8.5 with Weld in my IDE.  It compiles under Java SE 8, so I believe it would break current Travis configuration.  It parameterizes more variables so as to be easier to update the next time (e.g. to Java EE 8).  It's at [this commit](https://github.co

[2018-10-02 04:15] chkal commented on #276
Hi! Thanks a lot for working on this.

I'm a bit unsure if I like the idea of updating all the spec versions. Especially because this will be a breaking change and users still on Java EE 6 will run into problems.

I'm curious. Why do you think updating the spec versions is necessary? I mean, actually all the specs should be backwards compatible. Did you run into any issues deploying Rewrite to Jav

[2018-10-02 14:54] mpiotrowski-im opened #277 "AbstractClassFinder should not try to scan module-info.class files"
When using WildFly 14.0.1 with Java SE 11 AbstractClassFinder tries to scan module-info.class and fails.

This are module declarations introduced in Java SE 9 so when AbstractClassFinder tries to scan libraries with declared modules there is an Exception.

An easy fix would be to skip those classes. But I am not sure if it should be by name or by some bytcode magic numbers.

Full exception is:
`
F

[2018-10-02 16:15] chkal commented on #277
Good catch. Yes, I agree that the module info file should be processed as a class. So calling `Class.forName()` doesn't make much sense. Maybe checking the name and ignoring it in this case is fine?

Pull requests welcome!

[2018-10-03 01:15] mdfst13 commented on #276
Given how I did it, you could also release this revision with the old specifications.  Part of what I did was to make it easier to change the specifications.  Whatever you might set will then propagate to the other POM files from rewrite-parent/pom.xml .  To make that change, I had to edit almost all the POM files.  To adjust in the future, you shouldn't have to do so.  You should be able to edit

[2018-10-03 07:59] mpiotrowski-im commented on #277
I'll try to do that. :)

[2018-10-03 11:53] chkal commented on #276
I agree that this is a good change. Having the spec versions at a single place is definitely a good move.

That's really weird. But I don't think that anything from your PR fixed that. Maybe it was really some other issue?

I agree that weld-servlet-core should be preferred over the shaded artifact. However, I think the Rewrite core doesn't depend on Weld but only some of the examples, no?

Maybe

[2018-10-05 06:37] #276 closed

[2019-03-11 12:36] csyperski commented on #223
Is this bug still present, I just updated from the 2.x branch to 2.x and I'm seeing the exact same thing where each of my params are being populated 4 times?

`.addRule(Join.path("/c/{c}").to("/customer?c={c}"))`

Results in the value for c being something like [ 2, 2, 2, 2 ]

[2019-03-11 13:13] csyperski opened #281 "Migration from 2.x to 3.4.2 - Parameters added 4 times?"
Hello, I'm migrating from using version 2.0.12 to 3.4.2 and I'm experiencing problems where my parameters are being set 4 times and I can't figure out why.  Below is my mapping as it existed fin 2.0.12, but in 3.4.2, I'm seeing c being populated 4 times so when I get my param it is returning an array.

.addRule(Join.path("/c/{c}/{r}/{more}").to("/customer?c={c}&r={r}&other={more}"))

[2019-07-31 15:44] wtlucy opened #284 "PrettyFaces causes NPE in applications using MyFaces 2.2 and Faces Flows"
Applications using JSF 2.2 Faces Flows and MyFaces don't work with PrettyFaces.  This NPE is thrown:
[code]

It looks to me like PrettyFaces doesn't correctly register Flows in its `PrettyNavigationHandler`.  `PrettyNavigationHandler` extends `ConfigurableNavigationHandler`, however it doesn't do anything with the `inspectFlow` method that was added in JSF 2.2.  To resolve this, `PrettyNavigationH

[2019-11-08 07:18] swissclash79 commented on #253
Hello

I use the awesome rewrite framework in a JSF application with JoinFaces.

A question here: Why has this issue been added to the milestone 3.4.2.Final but in fact it is not included in the release 3.4.2.Final?
As far as I can see, the related pull request has been merged [after](https://github.com/ocpsoft/rewrite/compare/3.4.2.Final...master) the release 3.4.2.Final.

Is there any chance to

[2019-11-28 05:36] swissclash79 commented on #253
@chkal Should I open a new issue for that?

[2019-11-28 07:31] chkal commented on #253
Looks like you are correct. This feature is definitely not part of 3.4.2.Final. But it is included 3.4.3.Final which was released earlier this month. I updated the issue milestone.

[2019-11-30 00:10] codylerum opened #285 "Deployment Failure on Wildfly 18.0.1 with 3.4.3"
Was working fine on 3.4.2 but when switching to the new 3.4.3 release
JDK 13
[code]

[2019-11-30 02:30] codylerum commented on #285
@lincolnthree Looks like the travis build got broken with travis removing the oraclejdk7 and oraclejdk8 builds. I threw in a PR to get that fixed.

However it appears things got broken with the JSF 2.3 API update.

Before API Update: Working
https://travis-ci.com/codylerum/rewrite/builds/138768259

After API Update Fails
https://travis-ci.com/codylerum/rewrite/builds/138768633

[2019-12-10 07:10] kalgon commented on #285
Could someone take a look at the PRs? This problem makes Rewrite totally unusable with JSF 2.3.

Thanks!

[2019-12-10 15:04] lincolnthree commented on #285
Hey folks. Working on it now. Thanks so much for finding & patching this.

[2020-04-15 08:50] #212 closed

[2020-04-15 08:50] #178 closed

[2020-04-21 10:10] Zibelas opened #292 "Serve page under multiple links"
I'm facing a small problem with linking the same page under multiple links and I'm stuck on the last step.

- I have a page physically under localhost:8080/home/index.xhtml
- I added `                .addRule(Join.path("/home/en/{path}.xhtml").to("/home/{path}.xhtml"))
                .addRule(Join.path("/home/de/{path}.xhtml").to("/home/{path}.xhtml"))`
- The page can now be reached on all 3 link

[2020-04-27 08:01] tandraschko commented on #292
@Zibelas i currently have the same problem :D did you find a solution?

[2020-04-27 08:05] Zibelas commented on #292
yes, it is working for me now. I exchanged <h:commandLink /> to a normal <a href/>. The url is updating now correctly, the page can be reached under both addresses without duplicating the source page.

[2020-07-23 12:36] didiez commented on #223
It seems that the bug was introduced here  https://github.com/ocpsoft/rewrite/commit/6f8000#diff-524e12f568e84bf1f7013a8ba86c796a

There has been a few commits and refactorings after that, so I'm not sure whether we can simply add back again the condition or there is a better way to solve this.

[2020-11-15 12:55] rider87 opened #294 "Rewrite and Jakarta EE 8. I got NPE"
Seems like the ocpsoft rewrite forum is not really active - a lot of SPAM, therefore I will try it here.

After migration to Jakarta EE 8 I have issues during the navigation in my app. The issue is not appearing every time, but I also couldn´t find the root cause.

`Caused by: java.lang.NullPointerException at deployment.myapp.war//org.ocpsoft.rewrite.servlet.impl.DefaultRewriteLifecycleListener.a

[2020-11-16 05:44] lincolnthree commented on #294
Yeah, we really need to retire those forums. The SPAM got too bad and now they are basically taken over. I'll remind the team.

Hmmm odd issue.

Could you post a sample app that reproduces it, and provide a link to the exact version of Wildfly? I'd like to take a look.

Thanks,
~Lincoln

[2020-11-16 06:33] rider87 commented on #294
Thanks Lincoln.
Could you try it in one of your project with just to change the versions as above and use WildFly 21?

Link from Wildfly is this one:
https://download.jboss.org/wildfly/21.0.0.Final/wildfly-21.0.0.Final.zip

[2020-11-16 14:32] lincolnthree commented on #294
Thanks for the WildFly link.

Unfortunately no. I will not be able to look into this without a minimal reproduction of the issue in a sample application.

Let me know when you have something small uploaded that reproduces the issue and I'll check it out.

[2020-11-16 14:33] lincolnthree commented on #294
Also, a full stack trace would be helpful, too!

[2020-11-16 20:20] rider87 commented on #294
Currently I have not that time to setup this very quick.

Here is the full strack trace:

Main part is this:
Caused by: java.lang.NullPointerException
	at deployment.myapp.war//org.ocpsoft.rewrite.servlet.impl.DefaultRewriteLifecycleListener.afterInboundLifecycle(DefaultRewriteLifecycleListener.java:56)

![image](https://user-images.githubusercontent.com/9787533/99303535-5d6fc480-2851-11eb-98cf-56

[2020-11-17 05:09] lincolnthree commented on #294
Hm. Without being able to debug an application, the only thing that comes to mind is that it looks like you have some other servlet filters in the application that could be wiping state information on the response object. Try changing filter priority/order in your web.xml or web-fragment.xml, or remove filters until you figure out which one is clearing the Response context.

The fact that it fails

[2020-11-28 20:10] rider87 commented on #294
I´m using Apache Shiro. In my web.xml is also this:
[code]

After that is the Rewrite Filter:
[code]

Is there something which I have to adjust? Any idea?

[2020-12-11 09:37] rider87 commented on #294
Any idea? Do I have to change the ordering or something?

[2020-12-29 07:00] testing138 commented on #294
Hello,

I have the same issue. Any solution for this?

[2020-12-29 19:15] lincolnthree commented on #294
Hello,

As I mentioned to the original poster. If you provide a sample application that reproduces the problem, we can look at what may be going wrong and hopefully provide a fix.

Without a reproduction of the issue, there is very little we can do to help.

**Please provide the following:**

1. A link to a github repository that can be built with Maven
2. Specific version of Jakarta EE to be used

[2021-01-01 13:25] testing138 commented on #294
I cannot really replicate it to say when and why it´s happening...
Is there anything which I have to consider for the ordering? I´m pretty sure the problem is causing with Shiro and PrettyFaces.
Currently my web.xml is looking like this:

`
	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>

	<filter-mapping>
		<fil

[2021-01-16 09:52] testing138 commented on #294
@codylerum codylerum
Thanks... So you had the same issue?

@lincolnthree
Is there any logic how I should add the different filter if I´m using Apache Shiro and Rewrite?

[2021-01-16 10:49] chkal commented on #294
@testing138 A few notes:

- Whether the Rewrite filter should be added before or after other filters usually depends on which URL the other filters should "see". If Shiro is placed before Rewrite, Shiro will see the pretty URL. If it is placed after Rewrite, it will see the URL which Rewrite forwards to.
- For filters placed after Rewrite, you should set the `dispatcher` to `FORWARD`. That's becau

[2021-01-16 10:52] testing138 commented on #294
Thanks.
Currently I have this... Do you think that´s fine?

`
	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>OCPsoft Rewrite Filter</filter-name>
		<filter-class>org.ocpsoft.re

[2021-01-16 11:12] chkal commented on #294
Looks good to me.

You could also try to add an empty `<absolute-ordering />` element to your web.xml. This will disable processing of `web-fragment.xml` files in your dependencies and will therefore prevent that Rewrite is registered twice by accident.

[2021-01-16 11:14] testing138 commented on #294
So just add:
**<absolute-ordering />**

and than my code which I´ve posted above?

[2021-01-16 12:10] chkal commented on #294
The code posted above is fine. I just think it MAY be possible that the Rewrite filter is registered via your `web.xml` AND additionally by the `web-fragment.xml` which is included in the Rewrite JAR. In this case you would have the Rewrite filter twice which could cause issues. At least I saw such behavior in some situations. And adding an empty `<absolute-ordering />` will disable processing of

[2021-01-17 16:11] testing138 commented on #294
If I add this, I got other errors like:
`java.lang.IllegalStateException: o:socket endpoint is not enabled. You need to set web.xml context param 'org.omnifaces.SOCKET_ENDPOINT_ENABLED' with value 'true'.`

I´ve added this at the beginning of the web.xml:
`<absolute-ordering />`

[2021-01-18 05:30] chkal commented on #294
Ok. Looks like OmniFaces also automatically registers servlets/listeners via `web-fragment.xml`. And as you disabled processing of these fragments via `<absolute-ordering />`, OmniFaces breaks. Unfortunately, if you disable fragments, you will have to set up everything via `web.xml` yourself. Which requires some work, as you have to check all your dependencies for fragments. However, the positive

[2021-02-13 19:14] dmarko484 opened #296 "Can't get PrettyFaces running with Quarkus & Primefaces"
I'm experimenting with Quarkus + Myfaces/Primefaces based on this repo https://github.com/apache/myfaces/tree/master/extensions/quarkus/showcase.

Here I'm trying to include Prettyfaces to get nicer URLs. More specifically I'm trying to use Rewrite by following this guide https://github.com/ocpsoft/rewrite/blob/master/documentation/src/main/asciidoc/configuration/annotations/index.asciidoc by usin

[2021-02-17 13:22] melloware commented on #296
I would also like to see this updated for Quarkus

[2021-02-27 15:15] lincolnthree opened #297 "Most test profiles fail during MVN unzip of container archives or configuration errors."
When attempting to perform a patch release, running tests seems only to work on a few of the Arquillian container configurations.  Others still fail on what appear to be deployment config changes that have been made to the containers, despite having fixed versions in the pom.xml.

Not sure what's going on here, but documenting for future reference.

[2021-02-27 15:16] #223 closed

[2021-04-06 14:42] exabrial opened #299 "Fix XSD in version control"
Hello Lincoln! We talked on stack overflow about this thingy.

Any chance you could fix the XSD here: https://github.com/ocpsoft/rewrite/blob/master/config-prettyfaces/src/main/resources/META-INF/rewrite-config-prettyfaces.xsd#L1

This line: `<?xml version="1.0" encoding="UTF-8" ?>` should be `<?xml version="1.0" encoding="UTF-8"?>`

Thank you very much for pretty faces, it's an incredible project

[2021-04-12 17:36] lincolnthree commented on #299
Done! Thanks for the reminder to fix this here as well.

Also, thanks :) I'm glad you are enjoying using it. It was a lot of fun to create -- definitely the brainchild of many late nights and combined work with @chkal and contributors like yourself.

[2021-04-12 19:03] #299 closed

[2021-05-16 18:23] seinecle opened #300 "Removing the context root in the path of a jsf app"
Hi,
Just in case, could anyone check if this question I posted on stackoverflow could be solved with rewrite?
https://stackoverflow.com/questions/67559670/remove-subpath-context-root-in-nginx-for-a-java-app

Thank you!

[2021-05-17 14:30] lincolnthree commented on #300
Hey there @seinecle  - As you already know - StackOverflow is probably the best place to ask this question, I appreciate you looking into whether rewrite can do this for you, though.

Since Rewrite operates within a Servlet Context, it cannot change the servlet context root path. This has to be done either at the web-application server or web HTTP proxy levels. Rewrite can, however, change anythin

[2021-05-17 14:30] #300 closed

[2021-07-07 09:01] lukasadamek opened #303 "Security vulnerabilities due to commons-beanutils v1.8"
Build-in library 'commons-beanutils' in version 1.8.0 causes security vulnerabilities CVE-2014-0114 and CVE-2019-10086.
See:
https://nvd.nist.gov/vuln/detail/CVE-2019-10086
https://nvd.nist.gov/vuln/detail/CVE-2014-0114

Please upgrade build in 'common-beanutils' to latest version.

[2021-07-15 20:43] arend-von-reinersdorff commented on #303
See existing pull request #291

[2021-07-20 14:03] lincolnthree commented on #303
Merging this and will release a new version ASAP. Thanks for the update / reminder.

[2021-07-20 14:04] #303 closed

[2021-09-27 19:46] codylerum opened #304 "EE9 Compatible Release"
Are there plans for an EE9 compatible release which targets the jakarta namespace?

[2021-09-29 15:57] lincolnthree commented on #304
Hey @codylerum ! Nice to hear from you :D It's been a while.

So, I haven't had a chance to actually look at anything in EE9, and I'd love to support this but am not really sure what it would entail. Any details you can provide?

How complex would the migration be, and would it be backwards compatible? A PR would of course be welcome, but again, not sure of the complexity.

[2021-09-29 16:40] lincolnthree commented on #304
Yikes. I wonder why they opted to do that. Maybe an easier way to deprecate and force replacement of ancient APIs.

[2021-09-29 16:41] lincolnthree commented on #304
I'd be grateful if you wanted to take a stab at this!

[2021-09-29 16:50] codylerum commented on #304
I believe it ended up being a copywrite issue when Oracle donated it to Eclipse. So there is going to be a firm demarcation between EE8 and EE9+

https://www.infoq.com/news/2019/05/end-of-javax-package/

Anyway I'll see if I can take a stab at it as I get closer to migrating my app to EE9. Honestly though I'm only using rewrite for a couple very simple things so I may just bring that in house and

[2021-11-20 02:17] djmj opened #305 "Website migration - use rewrite to prevent 404 on old broken links"
When some of our clients move their webseite to our system many of their old links in google are broken and its not comfortable defining rewrite rules in apache client.

Is it possible to create rewrite rules just to redirect to a different URL?
Basically a fallback for 404 pages since those old links would not work anymore. I tried to post in forum but its locked due to the spam.

**Example:**

O

[2021-11-23 13:31] lincolnthree commented on #305
Hello, yes :) StackOverflow is probably the best place to ask general questions. But here you go!

https://github.com/ocpsoft/rewrite/blob/master/config-servlet/src/main/java/org/ocpsoft/rewrite/servlet/config/Redirect.java#L103

Let me know if that helps?

[2021-11-23 14:11] djmj commented on #305
Hello, yes did not thought about posting at SO.

I will test this but looks promising!

[2021-11-24 17:17] djmj commented on #305
How can i do this dynamically, since i dont want to load all mappings at server start into the config. Here the SO question. Not sure if rewrite is the best option here.

https://stackoverflow.com/questions/70100287/jsf-url-migration-intercept-and-redirect-404-page-not-found-error

[2021-11-26 17:27] #305 closed

[2021-12-01 11:56] rider87 opened #306 "Question: general rule for all jsf / xhtml pages"
Hi,

The forum is not working anymore (only Spam).
Therefore I will ask my question here:

Is there a general rule to remove extensions for .jsf and .xhtml ?
Omnifaces is doing this, but is not that powerful as Rewrte...
I would like to have also a few extra rules...

Example:
/portal/mypage.jsf will be than /portal/mypage

How can I do that?

[2021-12-01 20:10] lincolnthree commented on #306
Absolutely:

[code]

Etc.

That should do what you're looking for without being too complicated.

See more docs here:
https://github.com/ocpsoft/rewrite/blob/master/documentation/src/main/asciidoc/configuration/mapping.asciidoc

[2021-12-18 14:39] rider87 commented on #306
this means if I have different folders:
- common
- portal
- admin

I need to configure all like this:
`@Override
   public Configuration getConfiguration(final ServletContext context)
   {
      return ConfigurationBuilder.begin()
               .addRule(Join.path("/common/{page}").to("/common/{page}.xhtml"))
               .addRule(Join.path("/portal/{page}").to("/portal/{page}.xhtml"))

[2021-12-18 14:49] lincolnthree commented on #306
Not at all. The configuration I posted will do what you are asking, for all `/*/*.xhtml` pages.

[2021-12-18 14:51] rider87 commented on #306
you mean 1:1 this?

`@Override
   public Configuration getConfiguration(final ServletContext context)
   {
      return ConfigurationBuilder.begin()
               .addRule(Join.path("/{page}").to("/{page}.xhtml"))
               .addRule(Join.path("/{path1}/{page}").to("/{path1}/{page}.xhtml"))
               .addRule(Join.path("/{path1}/{path2}/{page}").to("/{path1}/{path2}/{page}.xhtml"));
 }`

[2021-12-18 14:51] lincolnthree commented on #306
If you really want to do something that matches all pages, and doesn't care about path "depth", this should work as well:

[code]

[2022-01-11 12:56] commodis commented on #285
This issue seems closable due to PR  #287

[2022-02-03 21:54] BorisYellnikov commented on #304
So, I've changed POM and namespaces and I was able to compile Rewrite, excluding tests. After changing maven properties I had to implements 2 or 3 methods but I didn't know how to implements these methods :). So, it seems all the work is to implements 2 or 3 methods and changing POM to support Java 17 and EE 9. I think it would be not to much work to update Rewrite to EE 9.

[2022-02-08 06:16] lincolnthree commented on #304
@BorisYellnikov Hey! Sorry, I missed this message. Would you mind sending a PR for what you've done so far? And let me know what is still incomplete / which methods are needing implementation? I'd love to make this happen, I just haven't had a lot of time to do the research to figure out where to start. (Since I'm not working with Java EE at the moment and my current project has been really all-co

[2022-02-08 06:16] lincolnthree commented on #306
Closing this as the question has been answered. Thanks!

[2022-02-08 06:17] #306 closed

[2022-02-08 11:45] BorisYellnikov commented on #304
I did some time ago, so I don't remember exactly what i've done :). First what is to do is to change all namespace to jakarta. Next is to change in pom:
<dependency>
            <groupId>jakarta.platform</groupId>
            <artifactId>jakarta.jakartaee-api</artifactId>
            <version>9.0.0</version>
            <scope>provided</scope>
        </dependency>
         <dependency>

[2022-02-09 00:38] larsgrefer commented on #304
@lincolnthree Could you prepare a "develop"-branch for rewrite 4.0.0-SNAPSHOT which we can target our pull requests against?

[2022-02-09 01:23] lincolnthree commented on #304
@BorisYellnikov Thanks! When you say "change all namespace to jakarta", can you give me an example?

That's an interesting error, I'm not sure what would cause the sources jars to be missing in the build. Or why it would fail on them. I'll look into it.

@larsgrefer Yes, I can do this tomorrow. Putting it on my todo list so I don't forget.

[2022-02-09 09:11] BorisYellnikov commented on #304
This is old original namespaces
package org.ocpsoft.rewrite.servlet.http;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

import org.ocpsoft.rewrite.event.Rewrite;
import org.ocpsoft.rewrite.servlet.ServletRewriteProvider;
import org.ocpsoft.rewrite.servlet.http.event.HttpServletRewrite;

/**
 * A {@link org.ocpsoft.rewrite.spi.RewriteProvider} that o

[2022-02-09 22:44] lincolnthree commented on #304
@BorisYellnikov Ok thanks. This makes a lot of sense.

I created a #develop branch for this work.

[2022-02-09 23:45] lincolnthree commented on #304
Started looking at dependencies and pom issues :sob:

[2022-02-09 23:53] lincolnthree commented on #304
I'll fix the snapshot version later.

[2022-02-10 00:19] larsgrefer commented on #304
@lincolnthree I've opened #310 as first attempt to make the project buildable again.
There are still some errors regarding the tests: `org.jboss.arquillian.container.spi.client.container.LifecycleException: Could not start container`

I'm not sure if its worth fixing the current containers, as we'll need JEE9 compatible ones anyways

[2022-02-11 15:23] lincolnthree commented on #304
Thanks @larsgrefer - Merged. I agree about the containers. I also think deleting some of the *very* outdated integrations is probably in order. I think we can safely delete:

Apache Shiro
Google GWT
Tuckey URLrewrite config parser
Servlet 2.5
Servlet 3.0

Thoughts?

I got part way through the POM updates but had to stop. Planning on continuing over the weekend.

[2022-02-11 15:25] lincolnthree commented on #304
PS. Does anyone know if there are any Arquillian updates for modern Jakarta EE containers? Is there a new equivalent test harness project we could use?

[2022-02-11 16:57] larsgrefer commented on #304
@lincolnthree Servlet 2.5 and Servlet 3.0 can definitely go, since we'll have Servlet 5 baseline anyway.

With the minimum Java Version being 1.8 now, Joda Time should be redundant, too.

[2022-02-14 21:17] lincolnthree commented on #304
Hey guys. Sorry, I got pulled into some stuff over the weekend. I have not forgotten about this. It might take me a bit but this is happening. My schedule is absolutely wild right now.

[2022-03-06 02:07] larsgrefer commented on #304
At least Tomcat 10 seems to be supported: https://github.com/arquillian/arquillian-container-tomcat/pull/87

[2022-03-07 16:46] lincolnthree commented on #304
@larsgrefer That's good to know. Merging your new PRs now. Still crazy over here. Thank you for continuing to work on this. I am really sorry I am not able to be more helpful just yet.

[2022-03-07 16:57] lincolnthree commented on #304
@larsgrefer Wow, I am blown away by the incredible work you have put in to the past few PRs. Thank you, seriously. What maven command are you running the updated tests with? (E.g. container specification - if any - etc.)

[2022-03-07 17:32] larsgrefer commented on #304
Just `./mvnw test` should run the tests.

In #316 I added a simple embedded Tomcat 9 to `test-harness` which fixes most of the Arquillian based tests.
I choose the embedded Tomcat because it was very easy to set up.

Some tests are still broken, but I'm not sure yet, why.
At least one test has a classloading issue which seems to be caused by the fact that the test itself and the Tomcat under test

[2022-03-08 00:04] larsgrefer commented on #304
@lincolnthree I think https://github.com/ocpsoft/common and https://github.com/ocpsoft/parent could use some updates to.

Are there any other ocpsoft projects which still use `common` and `parent` or can these be merged into the `rewrite` project?

[2022-03-08 00:19] larsgrefer opened #318 "SSL Certificate of https://www.ocpsoft.org/rewrite/ is expired"

[2022-03-08 18:58] lincolnthree commented on #304
@larsgrefer A few projects use them. I can cut some releases if you want to send PRs to do what's needed! Probably best to increment the major version for these as well.

[2022-03-09 00:39] larsgrefer commented on #304
`common` already got two PRs.

For new releases I agree with new major versions for each.
Since `common` uses `parent` we should release `parent` first, so `common` can use the new `parent` release

[2022-03-10 16:55] lincolnthree commented on #318
Ughhhh, it's been so long since I've worked on cert issues. What impact is this having?

[2022-03-10 16:57] lincolnthree commented on #304
@larsgrefer Parent and Common have been released. Please review my changes and let me know if you agree. I merged your very old PR on common (sorry about that,) and updated to Parent 16.

It might take a night for these to show up in Maven Central. But you should be able to manually `./mvnw clean install` from the Git tag in the mean time.

[2022-03-11 02:25] larsgrefer commented on #318
Seems to be fixed now.

[2022-03-15 14:54] #285 closed

[2022-03-15 14:54] lincolnthree commented on #285
Thanks @codylerum !

[2022-03-22 17:10] lincolnthree commented on #304
Just checking in. Is there anything I can do to help at this point? I'm sorry again I haven't had a lot of time to focus on it, but i want to make sure I am not holding you up.

[2022-03-23 00:50] larsgrefer commented on #304
You could have a look at the failing tests. https://github.com/ocpsoft/rewrite/issues/297 indicates that some tests are broken on master, too. It would be interesting to know, which tests are failing on both master and develop and which tests are only broken in develop.

You could also update the git branches in line with https://github.com/ocpsoft/rewrite/pull/321#issuecomment-1070970671
(Master

[2022-05-17 21:17] pdurbin commented on #304
@larsgrefer @lincolnthree hi! Any news? Anything I can do to help? I'm trying to upgrade our app (Dataverse) from Jakarta EE 8 and I can't deploy because we use rewrite-servlet and rewrite-config-prettyfaces. Removing them temporarily allows our app to deploy (I'm currently testing with Payara Server Community 6.2022.1 Alpha 2) but since we're using rewrite we either need an EE 9+ compatible versi

[2022-05-23 21:33] rtreacy commented on #304
It looks like I have something working for Dataverse/Payara6. Had to skip config-tuckey. Changes were like @BorisYellnikov described above. Off of develop branch (producing  *-3.60-SNAPHOT.jar files). Rush job when I found out from @pdurbin that it was going to hold up going to Payara6 Jakarta EE 9+

[2022-05-24 14:56] lincolnthree commented on #304
Hi all, sorry I have not been able to keep track of this issue. Life has kept me unfortunately occupied.

@pdurbin @rtreacy You mentioned you got something working? Is that with or without Rewrite?

If you have any changes to submit back to this effort they would be welcome.

[2022-05-25 00:13] pdurbin commented on #304
@lincolnthree hi! Yes! We got something working! Or rather, @rtreacy gave me a zip with changes he made and I pushed them (with slight modifications) into a fork of Rewrite at https://github.com/pdurbin/rewrite/commit/d494160

(From there I built the jars we need and added them in https://github.com/IQSS/dataverse/commit/d37af1d. Without these changes we can't deploy our war file to Payara 6 which

[2022-05-28 14:10] lincolnthree commented on #304
Hey @pdurbin, that's good to hear! Thank you for your effort, and for participating here to get this merged upstream.

Yes, I agree it is time to stop supporting Tuckey configuration.I think the best way forward right now is a pull request to the `develop` branch of the project, which is currently tracking this effort. Please feel free to send it, and I'll compare notes.

Once we get a working / r

[2022-05-28 14:12] lincolnthree commented on #304
PS. Payara looks really interesting. What do you guys use to automate your testing? Anything we could use here in place of Arquillian? Seems like that project might be a bit obsolete at this point. At least not very active/updated.

[2022-05-28 16:16] pdurbin commented on #304
@lincolnthree sure! I just created this PR:

- #322.

One thing I'm concerned about is that while we're testing with EE 9.1 right now soon we'll be testing with EE 10 (once Payara 6 Alpha 3 is out). I wonder if this means we'll have to bump `9.1.0` for Jakarta stuff in Rewrite in a couple places. At least the PR above has the namespace changes. I know this issue is for EE 9 compatibility but I thi

[2022-05-28 17:10] larsgrefer commented on #304
My branch is essential your "develop" branch.

The big question is, if we (you) want to follow this plan here https://github.com/ocpsoft/rewrite/pull/321#issuecomment-1068237656 with 2 versions (one javax based (EE 8) and one jakarta based(EE 9+)) or if you want to jump to Jakarta EE 9+ directly

[2022-05-30 18:58] lincolnthree commented on #304
@pdurbin So our `develop` is currently targeted at EE8, right? And your PR is based on EE9? If so, I will create a separate branch to merge that into so we can continue work in parallel.

I am inclined to agree with moving forward with two branches, though I suspect most work will be done going forward on EE9+, as `javax` truly is deprecated and has been for some time.

For the Tuckey stuff, I am

[2022-05-30 19:08] lincolnthree commented on #304
FYI. I went ahead and created a new branch [#develop-jakartaee-9](https://github.com/ocpsoft/rewrite/tree/develop-jakartaee-9) - and cleaned up all the other obsolete branches that were confusing things. I also renamed `master` to `main`.

So right now we have:
# main
# develop (ee8)
# develop-jakartaee-9

[2022-05-30 22:08] pdurbin commented on #304
Sounds good to me. With EE 10 around the corner, do we need a fourth branch?

- develop-jakartaee-10

I say this because Payara 6 Community Edition will only support EE 10.

[2022-05-30 22:13] codylerum commented on #304
Is there any difference after the rename to the jakarta namespace? I would think anything on 9 would work with 10

[2022-05-31 14:13] lincolnthree commented on #304
@codylerum That would be my assumption as well.
@pdurbin Let's target EE9 as a 'minimum' version, then address any issues we need to once 10 comes out.

[2022-06-01 19:43] lincolnthree commented on #304
Hey @pdurbin - Thanks for all the PRs. Mind talking me through your process on those? I just want to make sure I understand your intent!

Also, I saw you updated to Tomcat 10. Did you have any luck getting the tests to run on it?

[2022-06-01 20:13] lincolnthree commented on #304
@pdurbin Did you see my questions on your PR? Just checking :)

[2022-06-02 00:11] larsgrefer commented on #304
#324 is a work in progress for the transition to the jakarta.* apis. This basically began as a big search-and-replace `javax.*`-> `jakarta.*`. This was followed by some cleanup to make it compile and "work" again. In this process, I had to remove config-tuckey (because tuckey references `javax.` classes internally). I also updated to Tomcat 10 here to get some of the tests running again. (Deployin

[2022-06-02 01:18] pdurbin commented on #304
I just looked at #322 again and I don't see any questions. Happy to try to answer!

[2022-06-02 01:23] larsgrefer commented on #304
some of the test failures seem to be caused by a version incompatibility between htmlunit and Apache httpclient.

On main, we use a "too new" httpclient version for the old htmlunit, that's why the faces tests fail.
If we update htmlunit to a newer version which works with the newer httpclient, the servlet tests fail, because htmlunit is now too new for selenium-htmlunit-driver

[2022-06-02 14:47] lincolnthree commented on #304
@pdurbin Thanks, Hm. I wonder if reviews don't show up to all members / viewers?

![image](https://user-images.githubusercontent.com/362329/171656652-91ead015-bca3-43ff-959d-ec99c3ade9a8.png)

[2022-06-02 14:48] lincolnthree commented on #304
@larsgrefer Thank you. This helps. So as I understand it, the Github actions branch should be merged into main - I tend to agree. Let's go ahead and do that. It will be good to get a baseline.

Would you say it is safe to merge the other PRs into the respective branches? Or would you like me to wait until we get a test baseline?

[2022-06-02 16:51] larsgrefer commented on #304
The ones not marked as draft should be safe to merge.
Since these PR's only remove things I'm not overly concerned about the tests (less features -> less tests -> less failing tests)

Ideally we would have a green build with no failing tests on main, which we could then merge upwards into the two develop branches. Then we would see whats _really_ broken. At the moment I see multiple problems with

[2022-06-03 13:31] lincolnthree commented on #304
@larsgrefer Thanks. I'll move forward with merging the non-draft PRs.

I agree about the tests. Arquillian is a bit problematic here. I think the core functionality of the Rewrite framework is sound, and the critical features haven't changed since Servlet 2.5. They are very well tested, inherently. Most of the test failures, aside from the HTMLUnit ones, are likely fringe / edge cases that are con

[2022-06-03 13:44] codylerum commented on #304
I think that is fine.

What issues are we seeing with Arquillian? I know the wildfly guys are using it to test the new EE10 version of Wildfly and are getting closer to some non-preview builds of it.

[2022-06-03 13:47] lincolnthree commented on #304
@codylerum I think most of the issues are related to package versioning. There have also been some deployment failures on newer containers and I haven't figured out how to resolve them. I don't have any stack traces at the moment, but each EE9/10 container seems to have its own quirks that block the tests from deploying.

I think on GlassFish the tests deploy once then fail to undeploy, and subseq

[2022-06-03 13:50] lincolnthree commented on #294
Thanks again for reporting this. I am closing this issue as out of date / could not reproduce. Please feel free to open again if you can provide a minimal sample application that we can use to reproduce the error!

[2022-06-03 13:51] lincolnthree commented on #304
@codylerum I have an issue to track these problems started here: https://github.com/ocpsoft/rewrite/issues/297 (no more details there unfortunately. I was in a rush when I opened it.)

[2022-06-03 13:53] lincolnthree commented on #296
Hey folks. Apologies for the very late reply on this (was dealing with some family stuff.) If you can provide a sample app with Quarkus and Rewrite, I'd be happy to take a look at what's going on here. I have never used Quarkus so I can't say what might be going wrong without a reproduction/sample.

[2022-06-03 13:54] lincolnthree commented on #257
Thanks @benignoms and @chkal - I'm doing some GitHhub cleanup, and closing this issue as "Not a bug." Please feel free to re-open if you disagree!

[2022-06-03 13:54] #257 closed

[2022-06-03 13:56] codylerum commented on #304
@lincolnthree Sounds good. It looks like we should have something stable here in the next couple months and I'll try to chip in once i get my own projects working with Arquillian + Wildfly and EE10

[2022-06-03 13:56] lincolnthree commented on #304
@larsgrefer Since you've been removing features. Want to take a stab at this one?

https://github.com/ocpsoft/rewrite/issues/240

I think it's time to drop support for the older servlet specs with the update to EE9/10. (At least any update where the namespace has changed.)

[2022-06-03 13:57] lincolnthree commented on #304
Thanks @codylerum ! That would be amazing. PS. It's nice to "see" you again. I've been in a very distant world for a while and it's nice to see some familiar faces!

[2022-06-03 13:59] melloware commented on #296
I have this fully runnable application using Quarkus and PrimeFaces etc.

https://github.com/melloware/quarkus-faces

It should be easy to modify it to use Rewrite and see what is wrong.

[2022-06-03 14:33] larsgrefer commented on #240
This was done in #311

[2022-06-03 14:41] larsgrefer commented on #304
I agree. We did close to none functional changes to the rewrite codebase. From what I've seen until now, all test failures are "infrastructure" problems caused by the switch from Wildfly/Glassfish to Tomcat and from switching from a "managed" arquillian container to a "embedded" one.

I think keeping - but ignoring/skipping - the tests for now is the best we can do.

[2022-06-03 16:56] lincolnthree commented on #240
@larsgrefer Ah thanks. I think I knew that but forgot. Closing this :)

[2022-06-03 16:56] #240 closed

[2022-06-03 16:57] lincolnthree commented on #304
@larsgrefer Oops, sorry. I am not thinking right today :) Need more coffee! Thanks for confirming.

[2022-06-04 12:01] larsgrefer commented on #304
I think i got most of the tests working again:

in #331 I divided the test into "normal" unit tests, which can run without arquillian and "integration tests" which will use arquillian. By doing so, I could focus on fixing the normal tests first.

in #330 I switched back from the embedded tomcat to Wildfly managed and wildly remote, which got most of the arquillian based tests working again. For th

[2022-06-06 19:15] lincolnthree commented on #304
@larsgrefer That's awesome! So WildFly remote is working, but none of the other containers? This requires downloading and installing WildFly, as I believe Arquillian doesn't do that for REMOTE containers, right? Or did you automate that, too?

I went ahead and merged #331 - as #330 is still marked as draft, I didn't merge that one.

[2022-06-06 23:46] larsgrefer commented on #304
The unit-test are executed by the maven-surefire-plugin in maven's `test` lifecycle-phase:
`./mvnw test`

For the integration test, we need maven's `verify` phase. I also re-introduced 2 maven profiles for the different ways of running Wildfly:
`./mvnw verify -P WILDFLY_REMOTE`
`./mvnw verify -P WILDFLY_MANAGED`

[2022-06-11 00:28] larsgrefer commented on #304
@lincolnthree We should now decide which version numbers to use for which branch/version so we can start publishing snapshots.

The current status-quo is as follows:

| Branch  | EE Version | Rewrite Version |
| ------------- | ------------- | -|
| main  | Java EE 7  | 3.5.2-SNAPSHOT |
| develop  | Jakarta EE 8  | 3.6.0-SNAPSHOT |
| develop-jakartaee-9  | Jakarta EE 8  | 3.6.0-SNAPSHOT |

My sugge

[2022-06-13 15:35] lincolnthree commented on #304
@larsgrefer I completely agree. I think this makes total sense. I'll work on updating versions today.

[2022-06-13 15:47] larsgrefer commented on #304
Seems like the automatic snapshot deployments are now working: #332 https://github.com/ocpsoft/rewrite/runs/6864680645?check_suite_focus=true

So after you set the correct version numbers, we should forward-merge `main` into `develop` and then `develop` into `develop-jakartaee-9` in order publish snapshots for those versions, too.

[2022-06-13 15:57] lincolnthree commented on #304
@larsgrefer Awesome! Version numbers are set. I had to force push and correct a simple mistake in the develop branch (within the span of about 2 minutes), so just in case you pulled during that time, that's what happened.

[2022-06-15 00:43] larsgrefer commented on #304
@lincolnthree How would you like to continue with the two `develop` into `develop-jakartaee-9` branches?

Everything happening in `develop` should happen in `develop-jakartaee-9`, too, but we have 2 ways of doing this:

1. Doing everything twice: One PR for the change in `develop` and then a second PR for the same change in `develop-jakartaee-9`
2. Frequently forward-merging `develop` into `develo

[2022-06-27 20:25] lincolnthree commented on #304
@larsgrefer Sorry for the delay. Getting caught back up in firefighting work stuff again. My guess is that this will probably be mostly an issue doing bugfixes, because I think the framework is fairly feature complete, but yes, I tend to agree.

I think Option 2 is probably a bit cleaner, and I agree about a maintainer doing the work. This should be fairly painless assuming the two branches don't

[2022-06-27 20:30] lincolnthree commented on #304
@larsgrefer Can you update me on where the current PRs stand? There are a few open and I don't want to screw it up :)

Do you want me to merge the PRs targeted at `develop` so you can update your forward merge PR? Or do you want me to leave them alone for now?

[2022-06-27 22:19] larsgrefer commented on #304
#337 and #339 would be up next

[2022-06-30 21:03] lincolnthree commented on #304
@larsgrefer Merged. Those both look good. Thanks for splitting the integration tests. I honestly have not learned how GitHub actions work yet, so I really appreciate this.

[2022-07-07 18:28] lincolnthree commented on #304
@larsgrefer You are incredible. Thank you for all of this work. I owe you many beers. What's next? All tests appear to be green. Is it time to cut a preliminary release?

[2022-07-07 20:46] larsgrefer commented on #304
Releasing a 4.0.0-m1 and 5.0.0-m1 sounds like a good idea

[2022-07-22 14:41] lincolnthree commented on #304
4.0.0.Alpha1 and 5.0.0.Alpha1 have been released in Sonatype Nexus and should sync to central by tomorrow at latest :) Thanks you @larsgrefer, @pdurbin, @codylerum, and @BorisYellnikov  for all of your amazing work in making this happen! And also thank you for your patience with me 😆 Apologies if I forgot anyone, I think @pdurbin was also submitting on behalf of a colleague.

Please let me know ho

[2022-07-25 10:08] poikilotherm opened #345 "EE10 Compatible Release"
This is a follow up to #304 and related to IQSS/dataverse#8305

Trying to get this rolling with Jakarta EE 10 snapshots, I experienced the following problems:

- Module `rewrite-integration-cdi` uses a lot of CDI stuff that has been deprecated since CDI 1.1/2.0/3.0 and is now removed in 4.0. (FWIW [CDI 3.0 Spec HTML](https://jakarta.ee/specifications/cdi/3.0/jakarta-cdi-spec-3.0.html))
- Module `r

[2022-07-25 13:23] pdurbin commented on #304
@lincolnthree et al. thanks for the release and for reaching out! @poikilotherm has been digging in. Unfortunately, we're pretty sure even 5.0.0.Alpha1 isn't compatible with EE 10 so we opened #345. Please take a look when you get a chance. Thanks!

[2022-07-25 15:46] poikilotherm opened #346 "Cannot build branch `develop-jakartaee-9` with JDK 11"
Thanks everyone involved with #304

While trying to update to EE 10 I noticed I could not fully build the packages using Java 11 LTS only. Looks like this slipped through because of the Github Action using JDK 17 and 18 only.

Maven Enforcer also forbids `rewrite-integration-spring` to be executed with JDK 11.

It fails at `rewrite-config-prettyfaces`:

[code]

On a related note I see that the rel

[2022-07-25 16:23] poikilotherm commented on #346
Looks like downgrading Spring to current release `5.3.22` and relaxing the JDK version requirement of the module made the build run on 11 again.

We could add a profile to activate when testing with JDK 17 to include Spring `6.0.0-M4`...

[2022-07-25 16:50] poikilotherm commented on #346
Rethinking, it might be wiser to go for an enforcer rule to require compilation with JDK 17 in the rewrite-parent.

That way, the Spring integration will be compatible, which is nice.
In the same go, the rewrite-parent should add a Maven Compiler config to use `release` instead of `source`/`target`.

[2022-07-25 23:06] larsgrefer commented on #346
Spring 5.x is not compatible with Jakarta EE 9, that's why I updated to Spring 6 for the `develop-jakartaee-9` branch.
Spring 6 in turn is compiled against JDK 17, that's why Java 17 is needed for compilation.

[2022-07-26 16:02] poikilotherm commented on #345
FWIW: @pdurbin made me do a reproducer... https://github.com/poikilotherm/reproducer-payara6-ee10-jsf

[2022-10-17 19:37] lincolnthree commented on #345
Version `6.0.0.Alpha1` with EE10 support has been released and should be in Maven Central soon.

[2022-10-17 19:38] lincolnthree commented on #304
Has anyone had a chance to test the Alpha releases for EE8 and 9 support? What was the outcome?

[2022-10-25 09:16] poikilotherm commented on #145
I retested this with Wildfly 27 and Payara 6 for the EE10 release. Still seeing an empty response header for content type. Both application servers show the same error.

[code]

[2022-10-28 04:49] poikilotherm commented on #346
The enforcer rule is in place in the EE10 branch

[2022-10-31 12:26] poikilotherm opened #351 "Release snapshots to Maven Central"
This is a follow up to a comment (https://github.com/ocpsoft/rewrite/pull/350#issuecomment-1293806202)

Currently, no snapshots are released to Sonatype OSS. (There is no https://s01.oss.sonatype.org/content/repositories/snapshots/org/ocpsoft) Snapshots are never deleted, see [here](https://s01.oss.sonatype.org/content/repositories/snapshots/io/gdcc/sword2-server/) for an example.

We should add p

[2022-11-01 17:04] lincolnthree commented on #351
Interesting. Thanks. At one point I had CI set up to deploy snapshots to OSSRH with Jenkins, but... that was a long time ago and that server is... gone. I agree. It would be nice to have an automated release profile and CD pipeline.

As I'm not really up to speed with the GitHub CI stuff (obviously), I assume it would mean that Git tags pushed to GitHub (or cut on GitHhub) would create releases vi

[2022-11-01 17:07] lincolnthree commented on #346
Do we need to take any more action on this issue? I believe the creation of the ee10 branch should resolve this?

[2022-11-01 17:13] lincolnthree commented on #145
I wonder if this code is being executed. Could you try setting your debugger for this line (and potentially the overridden method bodies), and see if this is being called?

https://github.com/ocpsoft/rewrite/blob/878b59880de6ad40e6df00d9729580e03784d8f9/config-servlet/src/main/java/org/ocpsoft/rewrite/servlet/config/response/GZipResponseStreamWrapper.java#L38

[2022-11-01 20:51] poikilotherm commented on #351
Apparently, the merged pipeline worked right away! See here for an example: https://oss.sonatype.org/content/repositories/snapshots/org/ocpsoft/rewrite/rewrite-servlet/6.0.0-SNAPSHOT

So, I'm going to create more PRs for the other branches containing the same content.

I'll also add a new PR with a release pipeline.

WRT your question: yes, so far I did this in my other projects with a Maven profi

[2022-11-01 20:58] poikilotherm commented on #346
Yes, I agree on that. I'll close this one as solved. Thanks!

[2022-11-01 20:58] #346 closed

[2022-11-02 15:53] lincolnthree commented on #351
Great! Let's do it. Right now I do all releasing and GPG key management locally. It would be nice to immortalize that into github and make future maintenance (and collaboration with other maintainers) easier.

I can set these up like the SONATYPE_USERNAME/PASSWORD, etc. Just let me know what you need. I assume that's what you mean.

I will need to think about this. GPG is supposed to identify a pe

[2022-11-02 16:13] poikilotherm commented on #351
I don't have a reference for a good practice on this, sorry. Personally, I created a new GPG key just for signing this in CI, not attached to my person:

![grafik](https://user-images.githubusercontent.com/5468333/199541222-ac97be14-df10-4b72-b8de-7e8c1b81d22e.png)

I added this key (obviously the private key, not the public one) to the Github repo secrets (or in this case to the org):

![grafik](

[2022-11-02 16:53] poikilotherm commented on #351
@lincolnthree it would be pretty cool if you could create these two GPG secrets and let me know how you named 'em, so I can pick them up.

[2022-11-03 14:55] poikilotherm opened #355 "Make PrettyContext stop blathering about its presence for EE9/EE10"
Logs are filled with lots of announcements that PrettyContext is initialized now:

[code]

Let's reduce the log level from "info" to "trace" by merging these lines:

https://github.com/ocpsoft/rewrite/blob/878b59880de6ad40e6df00d9729580e03784d8f9/config-prettyfaces/src/main/java/com/ocpsoft/pretty/PrettyContext.java#L99-L100

[2022-11-03 15:14] poikilotherm commented on #345
BTW it looks like 6.0.0 is working for Dataverse as an EE 10 app. Needs more testing, though!

[2022-11-03 15:18] poikilotherm commented on #296
@melloware @dmarko484 there has been a new *alpha* release for usage with EE9 and EE10. Could you test things again with those?

I also saw that Prettyfaces makes heavy usage of CDI at runtime in lots of the Arquillian tests, so maybe using Quarkus deployment model is problematic here? Is it possible to run the Arquillian tests on Quarkus as a target container? That might help with getting things

[2022-11-03 16:52] melloware commented on #296
I will say Quarkus is very particular and there are some things not even allowed like CDI Extensions etc.  So there is a good possibility that Rewrite needs to change for Quarkus.

[2022-11-03 17:39] lincolnthree commented on #351
Fantastic. I will work on this! Thank you!

[2022-11-03 17:50] lincolnthree commented on #355
Agreed. It looks like this was introduced as part of the EE9 update / some leakage from that refactoring. Let's just put this back to the way it was.

`log.trace("Initialized PrettyContext");`

It doesn't need to say anything else.

Thanks!

[2022-11-03 18:36] lincolnthree commented on #296
Hey @melloware - Thanks, yes, It would be great if you could modify that project, and post steps here so that we can reproduce the issue. If you could please also provide stack traces or other errors you receive, that would be very helpful. It's hard to diagnose an issue without this.

Thanks!

[2022-11-03 18:38] lincolnthree commented on #296
I would also recommend trying to use Rewrite Servlet *instead* of Rewrite Config PrettyFaces and see if that works. If it does, it would be nice to know what errors PrettyFaces is causing.

[2022-11-03 20:58] pdurbin commented on #345
@lincolnthree we are testing away! Thanks! Also, I assume you saw that Payara 6 final is out: https://github.com/payara/Payara/releases/tag/payara-server-6.2022.1

[2022-11-03 21:00] pdurbin commented on #304
Our next target is EE 10 so we're really only testing that. That is, we're looking at #345. We don't plan to use EE 9. Thanks.

[2022-11-04 06:54] poikilotherm commented on #345
@pdurbin I just created https://github.com/ocpsoft/rewrite/pull/359 to update the EE10 branch :smile:

[2022-11-04 17:49] lincolnthree commented on #355
Closed via PRs. Thanks @poikilotherm !

[2022-11-04 17:49] #355 closed

[2022-11-07 16:49] lincolnthree commented on #345
Nice! Congratulations on the release! That's a huge milestone and it looks like you beat WildFly? :D

[2022-11-07 16:50] lincolnthree commented on #345
Also, I think we should consider updating the Rewrite versioning to mirror EE releases going forward.

E.g.
EE8 --> Rewrite 8.0.0.Final
EE9 --> Rewrite 9.0.0.Final
EE10 --> Rewrite 10.0.0.Final

Thoughts?

[2022-11-07 17:18] poikilotherm commented on #345
We could do that if you like it. Dunno if it causes confusion when people see the other releases like 5.0, 6.0 etc on Maven Central. It's your project :smile:

At least we should have a nice little table in the README telling everybody about the compatibility matrix.